[2020-12-01 16:28] DiederikRhee opened #1 "magic err on uart"
When I connect to the device using a USB ttl interface I get this output:

hisi-sdhci: 0
PPS:Mar 18 2020 19:07:17 meari_c5    0
magic err

I cannot login...

[2020-12-01 18:41] guino commented on #1
Do you see any countdown immediately at power on ? mine says something like ... "1" then "0" then it boots up -- you have to press a key on the terminal to interrupt the countdown and it should ask for a password (which I don't have).
If you don't have a countdown then your device may be more locked down then others.
If you have a countdown and press any key and it doesn't prompt for a password th

[2020-12-01 20:37] DiederikRhee commented on #1
Ah yes it does countdown. I got it working now, but no password

[2020-12-02 08:28] #1 closed

[2020-12-05 06:03] guino opened #2 "No programmer, No UART, No problem!"
(Side comment you can skip -- Based on the interest in this project I went ahead and spent some more time (a lot actually) in ghidra looking at the boot loader code and managed to get the ppsMmcTool.txt file format figured out and found a way to use it to modify the boot settings in order to run a script in the SD card during boot process of the camera)

I assume the steps below can be used for an

[2020-12-05 09:49] solidssss commented on #2
Thank you so much for sharing this!
At step 6 I'm getting the same text as in step 1. Not sure what I'm doing wrong.
This is what I'm getting from step 1:
`mem=64M console=ttySAK0,115200n8 mtdparts=spi0.0:256k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,2496k(sys),4608k(app),640k(cfg) ppsAppParts=5 ip=192.168.1.xx:::255.255.255.0 eth=xx:xx:xx:xx:xx:xx`

Could you please take a look at my env file?

[2020-12-05 10:46] rkkoszewski commented on #2
@solidssss That basically means that it did not work for you.

I was just trying it out on my Nedis camera (Also Tuya) with the same result. The ppsMmcTool.txt way has eider been patched out or the different cameras are using a different format.

I'll try to hook up my reader to the UART port to see if it shows some kind of error.

Just for notes, my cmdline is similar to yours but still different

[2020-12-05 12:01] LouDnl commented on #2
Great effort 👌🏻👌🏻👍🏻👍🏻

[2020-12-05 12:08] jandy123 commented on #2
My cmd line is same as @guino, just instead of mem=36 I have mem=37M. Please notice the additional "M". Could this be your problem @rkkoszewski, @solidssss  ? I will also try, but have to find a uSD card.

Btw., which fw do you guys have on your cams ?

[2020-12-05 12:17] adwiraguna commented on #2
can you please hack my ppsapp?
my camera is Bullet 4S, firmware version 2.9.7
thanks.

[ppsapp](https://drive.google.com/file/d/1pBzJwDj8Pz7V3hIMzhd3HVe2yVniLHhA/view?usp=sharing)

[2020-12-05 13:11] jandy123 commented on #2
I can confirm, it works here too ! Great !
Thanks @guino.

[2020-12-05 13:23] solidssss commented on #2
I tried without the "M", but it still isn't working.
Here is some info of the device:
`{"devname":"Smart Home Camera","model":"Speed 4C","serialno":"xxxxxxxxx","softwareversion":"2.7.4","hardwareversion":"S4C_A1_V10_1245","firmwareversion":"ppstrong-a2-tuya2_teco-2.7.4.20191111"`

[2020-12-05 15:06] LouDnl commented on #2
@guino would it be possible for you to send me the dump of your flash chip? It seems that my readout is corrupted in the part before u-boot which contains the magic part. This is due to my clip not being stable enough. I've removed the chip from the board and get stable readouts now.

[2020-12-05 18:10] guino commented on #2
I sent a request to access the file in google, I'll wait for access or you can just attach the env file here. But I'll tell you right now that if the line didn't change at all, it can only be:
-You didn't hold reset while powering on the device (it can be hard)
OR
-The env file was not correct
OR
-Your firmware may be too different for it to work -- please provide the information from http://admin

[2020-12-05 18:14] guino commented on #2
I would expect any device that has that ppsAppParts=5 to work, but I only have looked at 2 firmware files so I have no way of knowing. If you have a UART/TTL 3.3V and can get to the serial terminal it may be helpful if you send me the terminal output while you're powering it on with the reset button pressed (with the 3 files in place. Chances are it will show whatever it is not liking. You can als

[2020-12-05 18:17] guino commented on #2
Mine is 2.9.2 if I didn't post it before.

[2020-12-05 18:19] guino commented on #2
I will take a look today.

[2020-12-05 18:20] guino commented on #2
It takes me 5 mins if you zip/post it here...

[2020-12-05 18:23] guino commented on #2
This looks like older firmware which should be simpler to get into, I'm going to send you a few links to see if you can provide more information. It is possible your booloader may not even have a password in which case the UART route could be an easy option.

[2020-12-05 18:27] solidssss commented on #2
@guino
I'm sure that I pressed and held the reset button during power on, I can feel it clicking.
You should be able to access the env file from google drive now.
Here's some info from my device:
`{"devname":"Smart Home Camera","model":"Speed 4C","serialno":"xxxxxxxxx","softwareversion":"2.7.4","hardwareversion":"S4C_A1_V10_1245","firmwareversion":"ppstrong-a2-tuya2_teco-2.7.4.20191111"`

[2020-12-05 18:28] guino commented on #2
I will zero my cfg partition and post it since the fw.bin has serial/key info which could cause problems if passed around. Or you can provide me a way to send it privately (email, url, etc).

[2020-12-05 18:52] LouDnl commented on #2
Do you have discord? LouD#4930

[2020-12-05 19:07] guino commented on #2
Here's the patched ppsapp to enable RTSP:
[ppsapp-rtsp-2.9.7.zip](https://github.com/guino/BazzDoorbell/files/5647724/ppsapp-rtsp-2.9.7.zip)

[2020-12-05 19:29] guino commented on #2
@LouDnl Sorry don't have discord, I barely have skype/whatsapp. Here's my bin file with the enc and cfg partitions zeroed out:
[public-bazz-2.9.6.zip](https://github.com/guino/BazzDoorbell/files/5647747/public-bazz-2.9.6.zip)

If your enc and cfg partitions are the same size (or smaller than mine) I would expect you could just copy them into this bin file and flash it to your device. All enc parti

[2020-12-05 19:49] LouDnl commented on #2
Thanks, both my partitions seem in tact. Will try 👍🏻👍🏻

[2020-12-05 20:06] guino commented on #2
@solidssss your env file appears to be fine. Can you open this http://admin:056565099@IP/proc/self/root/etc/init.d/S90PPStrong and post the response here -- it seems like the bootloader is different (older) and that may be causing the difference. Only way for me to find out would be if you connected onto the UART and provided the output while doing step 5 of the install. If you have a way to plug

[2020-12-05 21:40] LouDnl commented on #2
Well I think I indeed completely bricked my camera 💸 the led doesn't even come on anymore. Everything gets power but thats about it. This happened before I took off the chip from the pcb when I turned it on but forgot to take off the pcb clip 🤦🏻‍♂️ some power must have gone somewhere it shouldnt have.

Gonna check my uart wiring tomorrow because they have power at the pcb. I hope thats it but I do

[2020-12-05 21:55] guino commented on #2
@LouDnl sorry to hear that - I am assuming you saw my warning about making the 3.3v mod to the programmer. On the UART front I always connect GND, TX and RX and power the camera by normal means (usb or doorbell wiring).
I also have noticed that when reading/writing the flash (with pin 6 disconnected) the light on the device would faintly turn on, but I limited connection of the clip to when I need

[2020-12-05 23:17] LouDnl commented on #2
Yea my uart vcc isnt connected either, I meant the rx/tx have power from the chip like they should but something else isnt working. I didn't mod my ch341a board, havent had any problems in the past but I should have been more carefull. All other times I took the clip straight off, if it even stayed on as they usually dont. But this time it did and I forgot about it when I turned it on. So somethin

[2020-12-06 03:07] adwiraguna commented on #2
thank you very much @guino, but different from your original ppsapp-rtsp it doesn't open rtsp stream on port 8554.

[2020-12-06 03:28] guino commented on #2
I will run it on mine and see what the log shows - if you enabled Telnet on yours you should be able to kill the running ppsapp and run this one from the terminal and see it it starts rtsp on a different port or if it shows an error.

[2020-12-06 03:33] adwiraguna commented on #2
I'm having trouble login to telnet, because I don't know the correct hash to use in passwd file

[2020-12-06 04:01] guino commented on #2
Do a passwordless telnet , just run telnetd like this:

/mnt/mmc01/busybox tenetd -l /bin/sh

[2020-12-06 04:09] lschafroth commented on #2
Here is my ppsapp.  This is from a Mercury MI-CW017-101W 1080P camera from Walmart.
Does this need patched to get RTSP to work? Not sure of the next steps.
[ppsapp.zip](https://github.com/guino/BazzDoorbell/files/5648266/ppsapp.zip)

[2020-12-06 04:50] adwiraguna commented on #2
@guino the program log doesn't contain any "rtsp" or "echoshow_init"

[2020-12-06 05:02] guino commented on #2
Can you provide a copy of the terminal output? You can blank out any keys and such, it looks like on your version there was nothing calling the function that checks if it should run the echoshow code. Did you try my ppsapp by any chance?

I tried your version on my doorbell and it froze up.

[2020-12-06 05:07] guino commented on #2
Did you follow the steps in the first post above to install the hack? If you did and everything worked, just copy my ppsapp-rtsp as “ppsapp” to the SD card, copy my custom.sh file and uncomment the bottom section of initrun.sh that runs custom.sh. Those files that are not in the first post above are here: https://github.com/guino/BazzDoorbell

If my ppsapp (same version as yours) doesn’t work I ca

[2020-12-06 05:16] lschafroth commented on #2
There isn't a custom.sh file. That's what i don't know how to do without it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Wagner <notifications@github.com>
Sent: Saturday, December 5, 2020 11:07:42 PM
To: guino/BazzDoorbell <BazzDoorbell@noreply.github.com>
Cc: lschafroth <LANNIE.SCHAFROTH@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [g

[2020-12-06 05:16] adwiraguna commented on #2
@guino [here](https://pastebin.com/jFGHXRvZ) the output

yes, I tried your version and it open rtsp port but on my smart life app the camera shown as Doorbell not as outdoor camera, and after a few minutes looks like ppsapp is crashed

[2020-12-06 05:26] guino commented on #2
It is there with all mmc files:
https://github.com/guino/BazzDoorbell/blob/master/mmc/custom.sh

[2020-12-06 05:56] solidssss commented on #2
@guino I have a raspberry pi 4 that I use to flash devices with, but I'm not sure where to connect wires to the camera.
Here's the output from S90PPStrong:
`#!/bin/sh

export PATH=/usr/bin:/sbin/:/usr/sbin:/bin

RED="[1;31m"
NORMAL="[0;39m"

echo "${GREEN} 2015 PPStrong Tech Cop.Ltd.${NORMAL}"

mkdir -p /opt/pps
MTDNUM=`cat /proc/cmdline | sed 's/.*ppsAppParts=\([0-9]\).*/\1/'`

# debug
MTDNUM=5

[2020-12-06 06:59] guino commented on #2
Ok here's something I just found out: I ran the ppsapp 2.9.7 (newer than mine 2.9.6) on my device and it changed something in the SPI flash to where it no longer would boot!
Based on the above I will **strongly recommend NOT running any ppsapp newer than your original version** or it might make changes to your SPI flash that are incompatible with your original version. I can only expect running an

[2020-12-06 07:00] guino commented on #2
I am going to look at your ppsapp version again and try to 'inject' a call to the RTSP start function -- that will be new territory but I think it can be done -- just need to find some code that doesn't run to overwrite it (your log will be helpful for that).

[2020-12-06 07:03] guino commented on #2
@solidssss  your S90PPStrong is what we want it to be so the only reason for it to fail is that the commands in ppsMmcTool.txt failed. The only way we can move forward with your board would be for you to get your UART work OR you could potentially update to a newer firmware (hopefully 2.9.6) so the bootloader works like mine (so the patch works). Ideally it would be best to get a copy of your flas

[2020-12-06 07:05] guino commented on #2
I can look/patch your ppsapp -- I will try to do it soon.
I assume you got it by uncommenting the command in initrun.sh after you installed the hack ?
Your command line is exactly as mine so there's a very good chance you have similar version of firmware as I do and I would expect everything to work once I patch the ppsapp for rtsp.

[2020-12-06 08:27] solidssss commented on #2
In the tuya app, it says it has the latest firmware (2.7.4). So I guess the only way to update firmware is with UART?
I don''t know where to connect the wires on the board to read/write the flash. Maybe you or someone else know?
Here's a image of the board (Nedis WIFICI20CGY):
![IMG_20201206_084858](https://user-images.githubusercontent.com/50496096/101275251-8b875b00-37a4-11eb-816f-003dd831dac1.j

[2020-12-06 08:43] LouDnl commented on #2
Can you show the other side of the board? The uart pins are on the top side of the chip, so looking at this picture they are most likely on the other side.

[2020-12-06 08:52] solidssss commented on #2
@LouDnl
Oh, I missed 4 pads on the other side. Could it be them? Where do I connect tx/rx and gnd?
![IMG_20201206_094649](https://user-images.githubusercontent.com/50496096/101275773-9e9c2a00-37a8-11eb-8545-b5525917f948.jpg)

[2020-12-06 08:58] LouDnl commented on #2
Well they could be, but looking at where they are going, they end up on the bottom side of the chip. Pinout shows uart at the top. Maybe they go through an inside layer. Just test them and youll know

[2020-12-06 10:01] solidssss commented on #2
@LouDnl
Just measured those 4 pads on the bottom, its 1 gnd + 3 3.3v. On the other side all of the pads are either gnd or 3.3/5v, except for the 4 pads near the motor cables, they are probably just motor pads. I don't know where to connect rx/tx.

[2020-12-06 11:04] LouDnl commented on #2
Well that could be your uart.
https://learn.sparkfun.com/tutorials/logic-levels

[2020-12-06 14:07] jandy123 commented on #2
@guino: I've patched my ppsapp to enable rtsp, but unfortunately it seems to fail with something like:

[code]
There is no mentioning of rtsp in the log. Could you please share the relevant part of your patched ppsapp ?

Thanks in advance !

[2020-12-06 14:10] solidssss commented on #2
Nope, sadly it was controlls for one of the engines. I'm stuck now

[2020-12-06 15:12] jandy123 commented on #2
@guino: Please forget my question... I was patching the wrong address. After correction, it simply works !

Some more details about my setup:
- video doorbell bought from Action NL
- firmware version 2.9.6
- size of ppsapp executable: 4090336 bytes
- versions:
 tuya_p2p_sdk_v3.1.12
 TUYA IPC SDK V:4.7.10

[2020-12-06 15:21] jilleb commented on #2
@guino, maybe it's useful to create a ppsapp version table here.
for instance:

| firmware version | hardware version |  original ppsapp MD5 | device  | patched ppsapp |
| ------------- |:-------------:| -----:| -----:| -----:|
| ppstrong-c51-tuya2_lcs-2.9.6.20200628 | BE8S_H1_V10_433 | 50AD9C96C65C0E446D8B3D5C8C828957 | Action LSC Doorbell |

etc cetera. It will probably save you from a lot of gh

[2020-12-06 16:04] russinnes commented on #2
Busy last 24h here. Just catching up now.

Everything mostly works fine on the Energizer Connect doorbell (bell5s clone). The ppsapp / ppsapp-rtsp in the repo caused a kernel panic I'm assuming, device frozen. The referenced ppsapp with rtsp for 720p cams would crash, but continually get reloaded via the ./config.sh loop, so the device doesnt freeze up at least. In the latter scenario, the device

[2020-12-06 16:19] LouDnl commented on #2
Well for now this adventure looks over for me. Everything gets power but the led on the board no longer turns on (not broken).
There do not seem to be any short circuits as even the rx and tx of the uart get the right ttl levels but no information comes through.
For reference here are some pictures of my camera's board. Bought at Action NL and branded as LSC Smart Connect indoor IP-camera.
![20201

[2020-12-06 17:40] jilleb commented on #2
[ppsapp.zip](https://github.com/guino/BazzDoorbell/files/5649232/ppsapp.zip)
| firmware version | hardware version |  original ppsapp MD5 | device  |
| ------------- |:-------------:| -----:| -----:|
| ppstrong-c51-tuya2_lcs-2.9.6.20200628 | BE8S_H1_V10_433 | 50AD9C96C65C0E446D8B3D5C8C828957 | Action LSC Doorbell |

[2020-12-06 17:52] guino commented on #2
Love the idea, obviously we'll need cooperation from everyone to post their patched file along with version. I would say it's better to post it on a separate issue (that only contains the list) so people don't have to keep digging thru this discussion to find anything useful.

[2020-12-06 17:52] jilleb commented on #2
I totally agree.

[2020-12-06 17:59] guino opened #3 "List of RTSP Enabled ppsapp files"
**PLEASE ONLY POST PATCHED PPSAPP FILES HERE (NO DISCUSSION) -- Use #2 for discussions/questions**

You can get the information for the table with http://admin:056565099@IP/devices/deviceinfo and with "md5sum filename" (or use any md5 hash tool).

I'll start with my own device

| firmware version | hardware version |  original ppsapp MD5 | device  |
| ------------- |:-------------:| -----:| -----:

[2020-12-06 18:01] jandy123 commented on #2
+1. Also some instructions how to get the required data from table.

[2020-12-06 18:02] jandy123 commented on #2
@jilleb How do I get the required table data ?

[2020-12-06 18:04] guino commented on #2
I created a new issue for anyone to post: issue #3 -- @jandy123 the way to get the information is on the first post.

[2020-12-06 18:47] guino commented on #3
| firmware version | hardware version |  original ppsapp MD5 | device  |
| ------------- |:-------------:| -----:| -----:|
| ppstrong-c2-weeye-1.0.0.20160101? | unknown | 671a7f2b18a289880b1bd3b4f2cafdcf | Merkury-Smart_cam-720p |

https://github.com/Jordan-Jarvis/Merkury-Smart_cam-720p-work/files/5633531/ppsapp-rtsp.zip

[2020-12-06 18:52] jandy123 commented on #2
@jilleb Well, yours is done already ;). Have a look here https://github.com/guino/BazzDoorbell/issues/3

[2020-12-06 18:57] jandy123 commented on #2
@guino: Now that we have telnet, ftp, rtsp, how about the next steps ?
- protect from fw updates. Already when I start tuyasmart it asks me about fw. update. @guino: Would a fw update by safe ?
- gain access to plain mqtt. Tuya use encrypted mqtt communication, which makes difficult to use e.g. localtuya with hassio.

[2020-12-06 18:58] jilleb commented on #2
add onvif-features :-)
make it Synology Surveillance Station intercom-compabitle  😋

[2020-12-06 19:07] guino commented on #2
This makes me think they may be hard coding some information into the ppsapp which could be causing random issues. I think we should probably stop trying to use ppsapp from different versions/models to avoid getting into an unrecoverable situation. The safest thing to do is to just get a copy of the ppsapp and have it patched (yourself or post here for us to patch).

[2020-12-06 19:15] guino commented on #2
Protect FW Updates: the app I use (TUYA) has an option to disable automatic updates which is what I did. If you want to update, I would recommend restoring the original settings (disabling the hack), then updating then installing the hack and patching ppsapp again. You may be able to get away with running your own old ppsapp but that probably defeats the purpose of updating.

Having telnet and pps

[2020-12-06 19:28] jandy123 commented on #2
@guino:
How did you disable fw updates  ? I couldn't find any setting in the
android tuya smart app...

On Sun, Dec 6, 2020, 8:15 PM Wagner <notifications@github.com> wrote:

[2020-12-06 19:29] lschafroth commented on #2
THanks! yes I got the hack to work great.  I can try your ppsapp and custom.sh.  Still trying to figure out how. I assume I put them both on the SD card, remove the # from the custom routine and thats it? Then I can search for the RTSP url with my iSpy app?

[2020-12-06 19:31] guino commented on #3
| firmware version | hardware version |  original ppsapp MD5 | device  |
| ------------- |:-------------:| -----:| -----:|
| ppstrong-c51-tuya2_geeni-2.9.6 | cw017-101W-1080P | ec64bd06e807db52f50c3009827ab676 | merkury-cw017-101W-1080P |

[merkury-cw017-101W-1080P-2.9.6-ppsapp-rtsp.zip](https://github.com/guino/BazzDoorbell/files/5649407/merkury-cw017-101W-1080P-2.9.6-ppsapp-rtsp.zip)

[2020-12-06 19:33] guino commented on #2
@lschafroth Please see the ppsapp-rtsp for your device here: https://github.com/guino/BazzDoorbell/issues/3#issuecomment-739551137

[2020-12-06 19:57] guino commented on #2
@jandy123 There's an option in the IOS APP: Click on camera (to view the live feed) then click the 'edit' button on top-left, then click on 'Device Update':
![IMG_4449](https://user-images.githubusercontent.com/4961810/101290966-55150480-37d3-11eb-86cd-ecc7d2810dbb.jpg)

[2020-12-06 19:59] lschafroth commented on #2
I put the ppsapp and the custom.sh in the root of the sd card. Booted the camera. I can go to the url of the camera http://ip:80/cgi-bin and it prompts for a username and password. Does this mean the custom ppsapp was not installed?

[2020-12-06 20:02] jandy123 commented on #2
Well not in android. Whenever I start the app, it asks me to update. Luckly
I can cacel the update. So automatic update is disabled, but it' s still
very annoying to be careful each time to cancel update...

On Sun, Dec 6, 2020, 8:57 PM Wagner <notifications@github.com> wrote:

[2020-12-06 20:06] guino commented on #2
@Ischafroth
You need to do this:
1-place the patched ppsapp-rtsp (that I posted on #3 for your camera) on the root of the SD card with the name 'ppsapp'
2-Edit the initrun.sh so the last lines at the bottom (between while... and .done) are NOT commented -- in order to run custom.sh
3-copy custom.sh from the project to the root of the SD card
4-reboot the camera
5-view the live feed with rtsp://IP:

[2020-12-06 20:12] lschafroth commented on #2
I did that. It boots up and using VLC to try the rtsp feed it says cannot connect to device.  Do I need to remove the custom.sh and ppsapp after the initial run or does it always have to be there on the SD card?

Lannie Schafroth

From: Wagner <notifications@github.com>
Sent: Sunday, December 6, 2020 2:07 PM
To: guino/BazzDoorbell <BazzDoorbell@noreply.github.com>
Cc: lschafroth <LANNIE.SCHAFROTH@

[2020-12-06 20:22] russinnes commented on #2
[ppsapp-rtsp-2.9.7.zip](https://github.com/guino/BazzDoorbell/files/5649482/ppsapp-rtsp-2.9.7.zip)
This worked stellar if anyone else has the issue I described above. Just remember to rename it in you MMC root, and ensure the custom script is enabled from the main initscript

[2020-12-06 20:24] guino commented on #2
Can you post it with the firmware info on #3  ?

[2020-12-06 20:27] russinnes commented on #2
Spoke too soon, no RTSP. Soo close. i'll keep plugging away.

[2020-12-06 20:28] guino commented on #2
You will need to keep ppsapp, custom.sh, initrun.sh forever in the SD card. If you remove ppsapp or custom.sh then your patched ppsapp will not run. You only have to do the 'install' process at the top once and never again (unless you want to remove it), and once it's patched you just update the SD card files and reboot to make them effective. If the app is working fine but no RTSP I may need to r

[2020-12-06 20:31] lschafroth commented on #2
Please review as it is not working. I removed it from WiFi and started over.  It does not stream anything on rtsp.
Thanks for helping me as I’m new to this and learning! Let me know if there are any logs etc I need to get to you.

Should I try your ppsapp with a 2.9.6 firmware or wait for you to review?

Lannie

From: Wagner <notifications@github.com>
Sent: Sunday, December 6, 2020 2:29 PM
To: gui

[2020-12-06 20:32] guino commented on #2
@adwiraguna please try this revised ppsapp-rtsp file -- I added a call to the echoshow init function which was missing, but keep in mind this is uncharted territory -- there's a chance the app may freeze and you'll have to restart the device (in which case you may need to remove SD card, replace the ppsapp, insert the card and reboot).
[ppsapp-rtsp-2.9.7.zip](https://github.com/guino/BazzDoorbell/

[2020-12-06 20:37] lschafroth commented on #2
Same results. Boots up. I can get to the web via IP/cgi-bin to confirm the correct IP address, but no luck with VLC.

Lannie

From: Wagner <notifications@github.com>
Sent: Sunday, December 6, 2020 2:32 PM
To: guino/BazzDoorbell <BazzDoorbell@noreply.github.com>
Cc: lschafroth <LANNIE.SCHAFROTH@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [guino/BazzDoorbell] No programmer, No UA

[2020-12-06 20:40] russinnes commented on #2
Just tried this as well, works fine but still no RTSP. However, 8554 is now open on a port scan, where it was not prior. Closer.

[2020-12-06 20:55] guino commented on #2
I reviewed the changes and I can see the code is in fact calling the echo show start function. Can you please make a zip of a few files from your SD card so I can check them? I need a zip with your: custom.sh, initrun.sh and ppsapp.
If everything looks ok I'll make a change on your custom.sh so it logs the ppsapp output to the SD card so you can post for review.

[2020-12-06 20:57] guino commented on #2
It is possible that some other code may be disabled in the RTSP related features OR I may have called the function to start it a little too early in the main sub.

[2020-12-06 21:08] russinnes commented on #2
Heres the stock ppsapp, Bell5s clone, energizer connect 2.9.7
[ppsapp-2.9.7-energizer-bell5s-orig.zip](https://github.com/guino/BazzDoorbell/files/5649537/ppsapp-2.9.7-energizer-bell5s-orig.zip)

[2020-12-06 21:15] guino commented on #2
@russinnes  Can you try this one:
[ppsapp-rtsp-2.9.7.zip](https://github.com/guino/BazzDoorbell/files/5649550/ppsapp-rtsp-2.9.7.zip)
I moved the call to start the RTSP server to after most of the initialization was done (to be more like on my camera) -- if this doesn't work then we would have to dig thru a lot of code to get this working -- which means it may be simpler to find a different ppsapp

[2020-12-06 21:20] lschafroth commented on #2
Here are my 3 files. The ppsapp is the 2.9.7 you sent me.

Lannie

From: Wagner <notifications@github.com>
Sent: Sunday, December 6, 2020 2:56 PM
To: guino/BazzDoorbell <BazzDoorbell@noreply.github.com>
Cc: lschafroth <LANNIE.SCHAFROTH@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [guino/BazzDoorbell] No programmer, No UART, No problem! (#2)

Same results. Boots up. I can get to

[2020-12-06 21:24] lschafroth commented on #2
Same results. Does not work.

Lannie

From: Wagner <notifications@github.com>
Sent: Sunday, December 6, 2020 3:16 PM
To: guino/BazzDoorbell <BazzDoorbell@noreply.github.com>
Cc: lschafroth <LANNIE.SCHAFROTH@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [guino/BazzDoorbell] No programmer, No UART, No problem! (#2)

@russinnes<https://eur05.safelinks.protection.outlook.com/?url=htt

[2020-12-06 21:26] russinnes commented on #2
No luck, again 8554 is open but nothing on it.

[2020-12-06 21:31] jilleb commented on #2
Make sure it has connection to Tuya while you're doing it.
I tried disabling internet access for the doorbell, but it will also disable RTSP output after some time.

[2020-12-06 21:34] russinnes commented on #2
Yes, it did. All other functionality was good, just no rtsp.

[2020-12-06 21:41] guino commented on #2
@jilleb That's good to know about the cloud connection requirement.
@russinnes Do you have recording enabled (to record video/motion to the SD card)? I wonder if that may prevent the RTSP from working -- I have and always had recording of 'motion' events to the SD card.

[2020-12-06 21:54] russinnes commented on #2
Yes, no luck

[2020-12-06 22:22] guino commented on #2
I modied the one you provided so you can try -- it seems very similar to the other but who knows. Comparing yours with mine they seem to be very similar although I did see some 'tls' stuff on yours that I didn't see on mine -- maybe it is expecting TLS to that port on the new version ? I have not looked too far into it.
If this doesn't work, I would suggest you to run the ppsapp with a redirect to

[2020-12-06 22:24] guino commented on #2
Your files did not come thru -- you need to go on githib and reply attaching the files (email replies don't post any attachments)

[2020-12-06 23:11] russinnes commented on #2
Attached;
[ppsapp.log.zip](https://github.com/guino/BazzDoorbell/files/5649728/ppsapp.log.zip)

[2020-12-06 23:47] guino commented on #2
@russinnes was this log from the original or modified ppsapp? I don’t even see where it calls the echoshow function I added so either it is the original ppsapp or I botched something.

[2020-12-06 23:52] russinnes commented on #2
Thats from the one you touched. Both stdout + stderr in that log. I'll run it again just to verify, but I am 99.9999% certain.

[2020-12-07 00:03] jandy123 commented on #2
@guino: Could you please share some info about finding the location of the ring buffers in ppsapp so that I could get the cgi-bin goodies running ?

[2020-12-07 00:13] guino commented on #2
I make a write up with instructions and a few pics.

[2020-12-07 00:22] jandy123 commented on #2
@guido: Great ! Looking forward for it...

[2020-12-07 00:29] guino commented on #2
@russinnes I think I found something else that needed changing -- this one should at least show something in stderr about init echoshow...
[ppsapp-rtsp-2.9.7-guino.zip](https://github.com/guino/BazzDoorbell/files/5649843/ppsapp-rtsp-2.9.7-guino.zip)

[2020-12-07 00:54] adwiraguna commented on #2
this works perfectly, thank you @guino

[2020-12-07 01:08] russinnes commented on #2
heres a cap of my running log, sadly no RTSP with vlc but Ill play at my end.
/mnt/mmc01 # cat ppsapp.log | grep rtsp
[12-06 18:05:38-- TUYA Info][rtsp_server.c:555] begin___
Accept: application/x-rtsp-tunnelled
Accept: application/x-rtsp-tunnelled
[12-06 18:05:50-- TUYA Info][rtsp_server.c:508] begin___, client sockfd(56)!
[12-06 18:05:50-- TUYA Info][rtsp_server.c:513] find a free worker(0) to d

[2020-12-07 01:22] dixnor commented on #2
I am having difficulties to run the script and get the env file to load. I don't know what's wrong, my reset procedure or the env file itself.
Basically, followed the instructions to the letter even using a hex editor to add the required 0xA and 00 characters at the end of the file. but to not avail.
May be it's a firmware version that doesn't have the ability to run the script? Anyway this is my

[2020-12-07 02:38] russinnes commented on #2
Can confirm RTSP working, ill post in #3 shortly.

[2020-12-07 03:12] guino commented on #2
@dixnor I think you’re having similar issues as @solidssss — both running 2.7.x firmware. I think there’s something different about the bootloader and the only way to find out would be to get a UART log when trying to apply the hack (step 5). It maybe that it doesn’t support ppsMmcTool or that the format may be different or the commands required are not available.

[2020-12-07 03:15] guino commented on #2
@adwiraguna the ppsapp 2.9.7 you tried (and worked) is from @russinnes but it is the same version - if there’s anything missing/wrong let me know so I can patch your own version.

[2020-12-07 03:28] russinnes commented on #3
Firmware Version | Hardware Version | Original ppsapp MD5 | device
----------------- | ------------------|-----------------------|---------
ppstrong-c51-tuya2_xtremeecho-2.9.7.20200730|BE5S_H1_V10_915|A56A4D5DE71F262D66E9DA54A64BE971|Smart Home Camera Bell 5S / **Energizer Connect Doorbell**

[ppsapp-rtsp-bell5s.zip](https://github.com/guino/BazzDoorbell/files/5650267/ppsapp-rtsp-bell5s.zip)

[2020-12-07 03:33] russinnes commented on #2
Just a comment for those with port 8554 open but no success like @lschafroth , I had **no luck** with VLC on OSX (not sure which build), but VLC on the iphone worked perfectly. Worth a shot if it appears to work, but no RTSP via VLC. Try different players.

[2020-12-07 03:47] adwiraguna commented on #2
looks like it's still unstable, after a while the app crashed and the device restart by itself, here is the last log before it crashed.

`[08:49:31.991 INFO pps_sd_stream_mng.c:1315] f_head.frame_time_stamp=[33968331]
 last_timestamp=[33966331] [2000]`
`[08:49:31.992 INFO pps_sd_stream_mng.c:1319] gmd_store_cnt 26`
`[08:49:32.660 INFO pps_watchdog.c:147] exception ocurred: 1`

[2020-12-07 03:50] russinnes commented on #2
I had the same happen when attempting to open RTSP streams from a non-friendly VLC. The connection was left open upon failure. Solved when I used another means of viewing the stream. No issues since.

[2020-12-07 03:56] guino commented on #2
@adwiraguna I should be able to patch your version correctly and post it - once you guys get it working you should probably disable the log recording to prevent SD/usage issues. I have not used RTSP in any prolonged fashion (only viewing when I want as the camera records bu itself).

[2020-12-07 04:15] guino commented on #2
@adwiraguna Here's your own version patched to see if it's more stable -- if it works please post it (along with your device information on #3, thanks!
[ppsapp-rtsp-2.9.7.zip](https://github.com/guino/BazzDoorbell/files/5650388/ppsapp-rtsp-2.9.7.zip)

[2020-12-07 04:17] adwiraguna commented on #2
many thanks, I'll try it and let you know..

[2020-12-07 04:49] adwiraguna commented on #3
| Firmware Version | Hardware Version | Original ppsapp MD5 | device |
|--------------------|---------------------|-------------------------|--------|
| ppstrong-c51-tuya2_bardi-2.9.7.20200907 | B4S_V10_H1_2063 | f4874ce6f40ff1a32e2bc1232e157105 | Bardi Outdoor Camera |
[ppsapp-rtsp-2.9.7.zip](https://github.com/guino/BazzDoorbell/files/5650388/ppsapp-rtsp-2.9.7.zip)

[2020-12-07 04:58] guino commented on #2
And I think I saw that in the code where it looked like it referenced channel 1 (SD) instead of channel 0, if you can please post it in #3  and I can make you a HD version to try if you want.

[2020-12-07 05:00] guino commented on #2
@jandy123 I didn't have much time to make a fancy write up so here are the cliff notes for the snap/mjpeg cgi scripts (and streamer):

open ppsapp in ghidra (default options)
when it asks to analyze it, say 'yes' and select ARM aggressive instruction finder (leave the rest as default)
when analyzing is done (no more progress bar on bottom right), click on the assembly list, press CTRL+SHIFT+E (sea

[2020-12-07 05:02] adwiraguna commented on #2
[here](https://github.com/guino/BazzDoorbell/issues/3#issuecomment-739661057)'s my post at #3

[2020-12-07 05:18] guino commented on #2
Try this one for HD, if it works please post on #3 with the other one:
[ppsapp-rtsp-HD-2.9.7.zip](https://github.com/guino/BazzDoorbell/files/5650569/ppsapp-rtsp-HD-2.9.7.zip)

[2020-12-07 05:32] adwiraguna commented on #2
sadly it crashed :
`[2020-12-7 12:31:32.880] tuya_ipc_echoshow.c tuya_ipc_echoshow_init(821) begin___, video channel: 0
Segmentation fault`

[2020-12-07 05:53] th4h4x commented on #2
@guino

Hi Guino, thanks for your help, here is my current situation if you could give your advice.
I have a Merkury CW-007 (Its an Hi3518 Chip, camera made by Mearitek Model Mini5C as per the board ). Couple weeks ago camera stopped working, I decided to connect it to my Raspberry Pi3 UART to see whats happening. Uboot gets stuck at Kernel loading (note this is all "stock" camera). I also can't g

[2020-12-07 06:02] guino commented on #2
@adwiraguna
There must be a reason why they blocked it off on the code like not enough memory/resources - the code specifically prevented starting RTSP for channel 0 (HD), but I can double check that I didn’t botch something when I have a chance.

[2020-12-07 06:12] guino commented on #2
@th4h4x your log tells me 2 things:
1-some boot loaders are loading the env file to a different address (which I suspect is the issue for @solidssss and @dixnor — in which case we have to adjust that 42000000 addresses in ppsMmcTool to match thr address shown in thr bootloader (81000000 in your case) just as you said you tried.
2-it doesn’t seem like there’s anything wrong with your boot process:

[2020-12-07 06:35] th4h4x commented on #2
@guino

Hi Guino, thanks for your help, here is my current situation if you could give your advice.
I have a Merkury CW-007 (Its an Hi3518 Chip, camera made by Mearitek Model Mini5C as per the board ). Couple weeks ago camera stopped working, I decided to connect it to my Raspberry Pi3 UART to see whats happening. Uboot gets stuck at Kernel loading (note this is all "stock" camera). I also can't g

[2020-12-07 09:21] jandy123 commented on #2
@guino: Thanks for the details regarding the ring buffers. I will try later today and report here ;).

Many thanks again !

[2020-12-07 13:43] LouDnl commented on #2
I'll leave my ppsapp here for patching.
Looking at that the md5 hash is the same as @jandy123 his ppsapp I conclude they are the same.
I have a different camera though.

Firmware Version | Hardware Version | Original ppsapp MD5 | device
-- | -- | -- | --
ppstrong-c51-tuya2_lcs-2.9.6.20200628 | M11S_H1_V10_F23 | 50ad9c96c65c0e446d8b3d5c8c828957 | LSC Smart Connect indoor IP-camera (Action.com NL)

[2020-12-07 13:43] lschafroth commented on #2
My requirement is using the RTSP in iSpy.  If it doesnt work there, I cannot use it. That is strange it works on one but not another.

[2020-12-07 13:59] jandy123 commented on #2
@LouDnl: Wired, I also bought it from Action NL. Different batch ?

[2020-12-07 14:05] hjosifg commented on #2
Hm. could not get this to run, wondering if I'm doing something wrong or my device isn't supported?
I re-did everything 3 times to make sure but my kernel line remains unchanged.

My kernel: `mem=64M console=ttySAK0,115200n8 mtdparts=spi0.0:256k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,2496k(sys),4608k(app),640k(cfg) ppsAppParts=5 ip=192.168.x.xx:::255.255.255.0 eth=xx:xx:xx:xx:xx:xx
`
My env: `

[2020-12-07 14:05] LouDnl commented on #2
You probably have the doorbell? I have the indoor camera

[2020-12-07 14:06] jandy123 commented on #2
@LouDnl: Indeed.

[2020-12-07 14:11] jandy123 commented on #2
@hjosifg: Read carefully the instructions. You may need to pad/shorten the cmd line to get to the exact length.

[2020-12-07 14:22] hjosifg commented on #2
The cmd line is the exact length, although my env file is bigger than the example provided, does the file size need to match as well?

[2020-12-07 14:34] jandy123 commented on #2
Yes, it does...

[2020-12-07 14:36] hjosifg commented on #2
Thanks, will try

[2020-12-07 16:19] jandy123 commented on #2
@guino:  I had no luck locating the JPEG buffer. None of the proposed methods worked out for me. In particular, for method 2,  searching for 00020800h yields nothing. Could you please help me with this ?

=====

Well, I've managed to compile mosquitto_pub and I wrote a script to parse the output of ppsapp to detect and push to my mosquitto server the button pressed and motion detect events. If any

[2020-12-07 17:27] m11tch commented on #2
yes please :D

[2020-12-07 17:51] jandy123 commented on #2
@m11tch:

- Add to custom.sh something like:

`# debug info from ppsapp  forwarded to output.log
  /mnt/mmc01/ppsapp  2>&1 | /mnt/mmc01/log_parser.sh /mnt/mmc01/output.log &
# no debug info
#  /mnt/mmc01/ppsapp 2>&1 | /mnt/mmc01/log_parser.sh /dev/null &
`

- Upload log_parser.sh and mosquitto_pub to the root of sdcard; see archive contents.
- Modify log_parser.sh as needed, i.e., change mqtt serv

[2020-12-07 20:01] guino commented on #2
@hjosifg @solidssss @dixnor you guys should try modifying the adresses in ppsMmcTool.txt to 81000000 (from 42000000), this may be the difference to making it work but I will say it looks like older boot loaders may not have the required commands to make it work thru the SD card in which case UART or programmer may be the only option (unless you can update to a newer version).

[2020-12-07 20:02] guino commented on #2
@jandy123 I can take a look at your ppsapp

[2020-12-07 20:20] jandy123 commented on #2
That would be great. My (rtsp-patched) ppsapp can be found in #3.

I worked out the HD video stream buffer to be at 0x45CF8C, but, as I said, VLC doesn't recognize the stream.

I couldn't locate at all the jpeg buffer ;).

Thanks !

[2020-12-07 20:27] guino commented on #2
With the streamer-arm you would have to configure vlc with the h264 demux instead of automatic but it will keep freezing because there’s not timing with the data packets - if you redirected the output of streamer to a file it should play in vlc (demux set to h264 in advanced settings). Mplayer could play it directly I think.

On Dec 7, 2020, at 15:20, jandy123 <notifications@github.com> wrote:

﻿

[2020-12-07 20:34] hjosifg commented on #2
Thanks for the tip, spent all night tinkering with env file and tried modifying ppsmmctool, no success
Will post tip if I find a solution

[2020-12-07 20:38] guino commented on #2
@hjosifg if you got the UART connected do email me and we can try a few things.

[2020-12-07 20:39] guino commented on #2
@adwiraguna last try for HD stream -- if this doesn't work it is just not meant to work (I do think I made a mistake on my last attempt).
[ppsapp-rtsp-HD-2.9.7.zip](https://github.com/guino/BazzDoorbell/files/5655171/ppsapp-rtsp-HD-2.9.7.zip)

[2020-12-07 21:13] guino commented on #2
@jandy123 It was so close... it seems ghidra decompiled the 00020800h differently on your firmware (I guess there's data at that address on your firmware), I searched for the raw bytes (CTRL+SHIFT+E then entered 00 02 08 00) and it found the location and I found the function/address (try it yourself if you like). The address for snap/mjpeg.cgi should be: 47494c
Let me know if that works -- keep in

[2020-12-07 21:24] hjosifg commented on #2
Interesting find, might be helpful for the more technical?
Downloading the app "Brilliant Smart" and pairing device with it instead of Tuya gives this:
`![IMG_5164](https://user-images.githubusercontent.com/68635515/101406554-e53d7180-38d9-11eb-8ddf-f2aa386e4405.PNG)`
`![IMG_5165](https://user-images.githubusercontent.com/68635515/101406561-e7073500-38d9-11eb-9c56-f7d994ad1b9c.PNG)`

`![IMG_5166](

[2020-12-07 21:24] jandy123 commented on #2
@guino: Thanks ! It works.

I also managed to figure it out by checking your ppsapp with the instructions above. I then searched for some string (pps_media_version) which in turn allowed me to locate the calloc call...

[2020-12-07 21:31] guino commented on #2
@jandy123 it also looked like your firmware may have 'onvif' support -- if that's not already enabled you'd have to enable it similar to what we did with RTSP.

[2020-12-07 21:34] jandy123 commented on #2
@guino: Btw., the video stream works in mplayer, indeed. But, as you said, the stream freezes. Very happy with the mjpeg stream though :).

[2020-12-07 21:36] jandy123 commented on #2
@guino: Hmm, and do you already know how to enable onvif support ;) ?

[2020-12-07 22:19] guino commented on #2
I'm looking at this now.

@jandy123 I don't even know if my firmware has that feature (haven't checked) so it would be hard to do anything and 'test it'.

[2020-12-07 22:32] guino commented on #2
@LouDnl Try this -- it may crash because it also had a hard code check to prevent HD streaming -- if it doesn't work I can make a SD version which would probably work:
[ppsapp-rtsp-lsc-296.zip](https://github.com/guino/BazzDoorbell/files/5655625/ppsapp-rtsp-lsc-296.zip)

[2020-12-07 22:35] Suspect-byte commented on #2
@guino I got two camera's both with different software version:
Smart Home `Camera","model":"Bell 5S","serialno":"059157762","softwareversion":"2.9.3","hardwareversion":"BE5S_H1_V10_433","firmwareversion":"ppstrong-c51-tuya2_teco2-2.9.3.20191230"`

And,

`{"devname":"Smart Home Camera","model":"Bullet 2S","serialno":"058960514","softwareversion":"2.9.2","hardwareversion":"B2S_V10_H1_2063","firmwar

[2020-12-07 22:38] guino commented on #2
@Suspect-byte I would not recommend running ppsapp of higher version than your own so yes, post the ppsapp and I can take a look.

[2020-12-07 23:14] RGlintmeijer commented on #2
Hi, i have the doorbell:
[code]
Please find attached the ppsapp of this device. I'm not familiar (yet) with Ghidra, maybe you could have a look at it, to see if it is possible to enable RTSP?

MD5 original ppsapp: E8900CE76220279A6E33EF65FD1D407B

[ppsapp-ppstrong-c51-tuya2_lcs-2.9.7.20201020.zip](https://github.com/guino/BazzDoorbell/files/5655735/ppsapp-ppstrong-c51-tuya2_lcs-2.9.7.20201020.zip)

[2020-12-07 23:39] guino commented on #2
@RGlintmeijer try this one -- note as all 2.9.7 versions it seems to have a hard block for HD RTSP so I bypassed it and it may crash because of it. If it crashes I can probably make a SD version:
[ppsapp-rtsp-lcs-297.zip](https://github.com/guino/BazzDoorbell/files/5655859/ppsapp-rtsp-lcs-297.zip)

[2020-12-08 01:33] adwiraguna commented on #2
this works perfectly, thank you @guino

[2020-12-08 01:50] guino commented on #2
@adwiraguna thanks for the good news!

[2020-12-08 06:10] guino commented on #2
@jandy123  any chance I can get you to build a patch file (IPS) on https://www.marcrobledo.com/RomPatcher.js/ and post it on: https://github.com/guino/ppsapp-rtsp/issues/1 ? I don't have your original ppsapp file otherwise I could do it.
I think we should steer away from sharing the ppsapp file (original/patched) and only create patch files that can be applied for the matching ppsapp.
There are a

[2020-12-08 08:49] m11tch commented on #2
Got the same device, posted it. ;)

[2020-12-08 09:33] jandy123 commented on #2
@guino: do you still need it ?

[2020-12-08 10:22] m11tch commented on #2
I noticed that when the doorbell's connection to internet is blocked during startup the RTSP stream does not come available.
If you block internet after succesfull startup it seems to be available (untill the device restarts or something ofcourse, which seems to happen when having the RTSP stream open for 15+ minutes @jandy123 is this the "freeze" you are talking about? )

@guino any idea if we ca

[2020-12-08 10:59] jandy123 commented on #2
@m11tch: Sorry for the confusion. I was talking about the @guino's "old method", not the rtsp server. I haven't tested rtsp, since I'm not really planning to use actively use it. I personally prefer the low-res mjpeg.

====

Some additional random things/issues I've noticed:

- Doorbell gets quite worm, particularly when supplied via the 12V adapter. I was wondering if this can create problems dur

[2020-12-08 11:14] m11tch commented on #2
I currently only tested it using usb power so I cannot comment on temperature of the device yet.

the mjpeg stream is 'good enough', but I would definitely prefer a HD image, after all it is a "HD camera" 😄

it seems that @RGlintmeijer also has the same doorbell but is using fw 2.9.7, not sure what the differences are other than the suposedly "block" on HD RTSP stream.  Based on @guino earlier exp

[2020-12-08 11:31] jandy123 commented on #2
@m11tch: I do not like the cloud feature, but I do not know how to decrypt the sdcard photos. If this works, the mqtt hack can be extended to send the location on sdcard, etc.

[2020-12-08 11:34] m11tch commented on #2
@jandy123  why not take a picture using snap.cgi upon button/motion mqtt message using your home automation system?

[2020-12-08 11:39] jandy123 commented on #2
@m11tch: Well, this is a good idea actually. I might just do that.

How does the cloud feature actually work, btw. ?

[2020-12-08 12:03] m11tch commented on #2
@jandy123 I'm not sure... I really only used the app to connect the camera to wifi.
just did a quick look, when opening "replay" it does say retrieving video stream, but i'm not sure if it is then actually uploading files from SD to cloud or if they are also stored in cloud for some time?

I will do some more testing with cloud connectivity blocked later.

[2020-12-08 12:41] jandy123 commented on #2
The data recorded in the sdcard SDx directory is not encrypted. Those *.data files are just some sort of h264 video sequences. Vlc doesn't play them in my case, no matter what. Mplayer shows some stuff, but frames are completely broken.

[2020-12-08 12:44] m11tch commented on #2
did a quick test:

when internet connectivity is blocked:
- you can not view recordings from tuya app, so seems to be streaming directly from SD upon request.
- RTSP is not available. (connection refused) (will check logs later)
- snap.cgi and mjpeg.cgi work fine
- button press does make the "ding dong" sound, but no mqtt message is sent (will check logs later)
- Camera still switches to night mod

[2020-12-08 12:46] jandy123 commented on #2
@m11tch

Hmm, so I suppose the log_parser script has to be adjusted to take that into account...

[2020-12-08 12:52] m11tch commented on #2
@jandy123  don't see anything about button presses in the log, I think ppsapp is not completely started yet as it is unable to connect to tuya mqtt server, Will try some more stuff later.. should really get back to my real job now 😂

`[01-01 01:07:46-- TUYA Err][mqtt_clie t.c:1077] mqtt socket co  ect fail. retry_c t:3 op_ret:-703 err o:-25`

Btw, is it just me or is the output suposed to miss cha

[2020-12-08 13:06] jandy123 commented on #2
@m11tch: Comment line `IFS='$\n'` in the log_parser.sh script.

[2020-12-08 13:12] BytheWWW commented on #2
So I have successfully hacked my OSC smart doorbell, but how can I get it to show up in Home Assistant or Google Home? (Sorry, I'm old ;)

[2020-12-08 13:16] m11tch commented on #2
@jandy123 I can view the files on SD just fine by using mplayer btw, it does throw some errors every now and then in console.. but playback works. (mplayer on ubuntu btw)

[2020-12-08 13:28] jandy123 commented on #2
@m11tch Not here in ubuntu 18.04, default mplyer; completely broken output. vlc is working for you ?

[2020-12-08 13:35] m11tch commented on #2
@jandy123 only tried VLC on windows, that didn't play at all.
`mplayer -v
MPlayer 1.3.0 (Debian), built with gcc-7 (C) 2000-2016 MPlayer Team
`

[2020-12-08 14:12] jilleb opened #4 "Off-cloud research"
@guino, I hope you don't mind me creating a seperate issue, but I think it helps to keep the other topics on-topic and easier to read.

So let's discuss here what's what when it comes to off-cloud/offline usage of the doorbell. Currently it uses the Tuya cloud, which means the following, according to @m11tch research

[2020-12-08 14:12] jilleb commented on #2
Maybe we should make a seperate issue regarding 'off-cloud' usage of the device. I've noticed that pressing the button in offline mode does generate output in dmesg! :-) that could be useful. I made a seperate issue #4

[2020-12-08 14:15] m11tch commented on #4
@jilleb I was thinking the same as we were taking over the other thread quite a bit :D
Doing some more research later, will update this post with new findings.

[2020-12-08 14:37] jilleb commented on #4
dmesg output when doorbell is pressed while it's not connected to the cloud:

[code]

[2020-12-08 14:57] jandy123 commented on #2
@jilleb Indeed, this is becoming too long to be of any use...

[2020-12-08 15:01] jilleb commented on #4
Good question.. I'm looking for it in Ghidra. Sounds like something that would possibly happen in the cloud. I'll get back on this.

[2020-12-08 15:18] Suspect-byte commented on #2
How can I get my ppsapp? Maybe a noob question but it is all new to me....

[2020-12-08 15:30] guino commented on #4
I have been downloading/viewing my .data files for the longest time - they play just fine in VLC when you set the demux to h264 demuxer (in advanced settings). It is kind of a pain having to switch between automatic and h264 but it works - just no audio.
I personally like having the tuya app, so I plan to keep it. Just wanted to be able to use RTSP, mjpeg and be able to backup the SD card files as

[2020-12-08 15:32] guino commented on #4
The fact that I don’t record everything may also impact if the camera runs hot or not (haven’t tried recording everything) plus I have a 9v transformer at the house doorbell.

[2020-12-08 15:32] m11tch commented on #4
maybe getting ppsap to run propperly is enough?, i'm no expert in Ghidra 😞 maybe it is enough if we can disable the mqtt connection in ppsap as it is just constantly trying to reconnect, each time with a longer sleep time.. and not doing much else...

`[01-01 01:00:35-- TUYA Debug][mqtt_client.c:1230] mqtt fail_cnt:6 and sleeptime:4756 ms`

[2020-12-08 15:35] guino commented on #2
@Suspect-byte once the hack is installed there’s a line in initrun.sh that you can uncomment to copy your ppsapp files into the SD card. Jus modify that file/line, reboot and the files will be on the SD card (which you can then copy to the PC from SD card).

[2020-12-08 15:36] guino commented on #2
I posted a comment on #4 regarding playing.data files, they play on VLC when you use h264 demux in advanced settings.

[2020-12-08 15:39] guino commented on #2
@BytheWWW you need to post a copy of your ppsapp so we can enable RTSP on it (check if it’s not already on #3 ) and then you need to research how to display RTSP streams in whatever software you want.

[2020-12-08 15:45] Donixon commented on #2
I have been lurking this threat for some time now and i was so happy to see some new comments this week!
I managed to use the "ppshack" of @Guino on my Action Smart Home camera firmwareversion : _ppstrong-c51-tuya2_lcs-2.9.6.20200628_ . Now i'm trying to make RTSP work, and tried @adwiraguna his _ppstrong-c51-tuya2_bardi-2.9.7.20200907_ . But can't seem to view the RTSP stream via VLC and rtsp://1

[2020-12-08 15:45] jandy123 commented on #4
@guino:
- Welcome back ! Guess, different timezones, jobs, etc.

- I have no other apps running, streaming etc. And this is without enabling continuous recording. Just record on event setting in the app. It's also interesting that for you, apparently, 9V AC  is enough. I couldn't get it running with anything (apart from USB) but with the supplied 12V DC adapter.
- If I run it from USB,  then it's

[2020-12-08 15:47] jandy123 commented on #4
For me rtsp streaming still works after blocking outside connection.

[2020-12-08 15:52] jandy123 commented on #2
@Donixon First, have a look at #3 if it's not already patched.

[2020-12-08 15:58] jilleb commented on #4
I'll check. Rtsp does work after blocking web access. But upon reboot it's dead.

I just restarted ppsapp from the console by accident.. got  a lot of interesting output I will post later when I'm back at the pc.

[2020-12-08 15:58] Donixon commented on #2
Yeaahhh, I saw the Bell 8S, but I thought it wouldn't match with my camera! But I'll try it. Thanks a lot for the response!

[2020-12-08 15:59] guino commented on #4
I would expect recording continuously would make it hotter than recording events only - have not paid attention to be honest. The other doorbell I had (EZVIZ DB1) was hot as hell compared to this one. It may require more current to run at lower voltage (power=voltage * current) so maybe a bigger low voltage transformer would work, just not sure if it’s worth messing with it when it is already work

[2020-12-08 16:03] guino commented on #2
@Donixon As long as the MD5 matches it should work. Different cameras may use the same version of ppsapp.

[2020-12-08 16:08] m11tch commented on #4
@guino connections to the tuya mqtt server are over TLS and require username/password. for internal usage this is ofc not necessary.. I will try redirecting the connection to a internal mqtt server that supports TLS to see if that is enough..

[2020-12-08 16:12] jandy123 commented on #4
@guino

Nope, this is not the cause for heating, since it's definitely cooler at 5V from USB. It's just some linear regulator which transforms the 12V > 3.3V that dissipates heat, I guess. But then, I didn't even open the device yet...

As I said, I get same log output from ppsapp, so I can still see the forwarded mqtt events.

[2020-12-08 16:14] adwiraguna commented on #2
Hi All,
I just notice that CPU usage rose to 100% when viewing rtsp feed. is this normal?

![top](https://user-images.githubusercontent.com/46369790/101508371-29984280-39aa-11eb-8a1c-d3d62674e9af.png)

[2020-12-08 16:14] BytheWWW commented on #2
@guino Thanks for the explanation but I have no f-ing clue how to produce a pssapp :S
I do see a patched one in
 but with a different firmware version.

[2020-12-08 16:14] jandy123 commented on #4
Also, in  my case, the RTSP server seems to be created on the fly, when a client request (from LAN) is made. This works (as it should !!)  without the cloud struff. I can post logs if needed.

[2020-12-08 16:16] jandy123 commented on #4
@m11tch

This won;t work. I've already looked at the communication in wireshark...

[2020-12-08 16:18] guino commented on #4
It seems they have made changes from 2.9.6 to 2.9.7 in a number of aspects (ie blocking HD RTSP, changes to log functions, some logging and probably more) -- those are the things I noticed when patching some of the files.

[2020-12-08 16:19] m11tch commented on #4
I don't need the actual data, was just hoping that it would be enough to let ppsap to start up further..

@jandy123 RTSP does not seem to happen for me, what kind of request are you sending?

[2020-12-08 16:20] jandy123 commented on #2
@rkkoszewski  Hmm, can confirm this too ! Is your device blocked from tuya servers ?

[2020-12-08 16:22] jandy123 commented on #4
@guino

Well, yes, but then we have different ppsapp...

[2020-12-08 16:23] jandy123 commented on #4
As noted in the other thread by @adwiraguna,  CPU usage in rtsp streaming mode gets to 100%. IS this only with blocked tuya servers ???

[2020-12-08 16:25] jandy123 commented on #4
@m11tch

What exactly you mean ? I just say `vlc rtsp://192.168.2.179:8554`

[2020-12-08 16:27] m11tch commented on #4
Perhaps this is why they decided to block HD rtsp streams in 2.9.7?

@jandy123 I will try to open rtsp stream again later today when connection to tuya is blocked.. will come back with the results..

[2020-12-08 16:36] guino commented on #2
@BytheWWW did you follow the patch install (first post on this page)? did you get confirmation on step 7 that the patch worked ? if so then on step 8 you can just remove the # in front of the this line in initrun.sh:
[code]
Then reboot the device (with SD card and files in it)
The ppsapp will be copied to the home/app directory in the SD card -- check the md5 of the ppsapp in https://www.marcroble

[2020-12-08 16:42] jandy123 commented on #4
Well, CPU usage when streaming over RTSP is not that bad, actually.

Assuming blocked tuya servers, idling is round 3-5% (reported by top). When HD rtsp streaming to one client, it goes up to about 17-20%. The process itself ppsapp does take about 100% CPU, though.

[2020-12-08 16:47] Suspect-byte commented on #2
@guino everything worked it did see the:

[code]

But as soon as I go to the  /proc/self/root/tmp/hack it gives me the HTTP ERROR 500.... What am I doing wrong?

[2020-12-08 16:50] Suspect-byte commented on #2
Here is my env file:
[env.zip](https://github.com/guino/BazzDoorbell/files/5660565/env.zip)

[2020-12-08 16:51] BytheWWW commented on #2
@guino Thanks for your time. Here are the files (commented out some stuff from deviceinfo)
Let me know if you need anything else!

[ppsapp.zip](https://github.com/guino/BazzDoorbell/files/5660561/ppsapp.zip)

[2020-12-08 17:06] jilleb commented on #4
We have the same doorbell/firmware/ppsapp, but it isn't working

debug log from ppsapp:
[code]

[2020-12-08 17:13] jandy123 commented on #4
@jilleb I now see what you mean. If start ppsapp *without* tuya cloud connection, indeed, rtsp streaming does not work. Seems that ppsapp gets stuck on connecting to tuya hosts:

`
[01-01 01:01:57-- TUYA Err][mqtt_client.c:1051] resolve mqtt host Fail:m2.tuyaeu.com erro:-100
[18:12:27.766 DEBUG tuya_network_manager.c:535] WIFI[0] Get IP:192.168.2.179
[18:12:28.009 DEBUG pps_net_manager_client.c:18

[2020-12-08 17:15] LouDnl commented on #2
My €20 ipcam adventure ends here as my board is officially dead. After I got magic err... and was unable to resolve it I accidentally turned on the board with the reader clip still attached. After this the led did no longer turn on and there was no more info on the uart port. I checked all power sources and there was no short to ground. A decoupling capacitor at the spi memory vcc was missing but

[2020-12-08 17:27] m11tch commented on #4
I noticed some config files in /home/cfg, maybe we can do something with those to manipulate? although I don't see anything usefull at first glance..

[2020-12-08 17:27] jandy123 commented on #4
@jilleb

I never get to

In my case, ppsapp gets stuck into

`[01-01 01:01:57-- TUYA Err][mqtt_client.c:1051] resolve mqtt host Fail:m2.tuyaeu.com erro:-100
[18:12:27.766 DEBUG tuya_network_manager.c:535] WIFI[0] Get IP:192.168.2.179
[18:12:28.009 DEBUG pps_net_manager_client.c:189] NETWORK KEEPALIVE
[18:12:32.773 DEBUG tuya_network_manager.c:535] WIFI[0] Get IP:192.168.2.179
[18:12:37.782 DEBUG t

[2020-12-08 17:30] m11tch commented on #4
I think connection was not blocked during the startup of this debug log, can you confirm @jilleb ?

[2020-12-08 17:34] jandy123 commented on #4
@m11tch

I did see the stuff in /home/cfg. Tried to modify ota:0 in /home/cfg/capa.info in a hope to quiet the tuya app upgrade banner, but it didn't work....

[2020-12-08 17:34] jilleb commented on #4
The connectiong was blocked all the time.

I started ppsapp from sd-card in the console with the --help commandline, hoping it would generate some useful output.But....... after closing it, the doorbell no longer boots 😆

[2020-12-08 17:36] jandy123 commented on #4
Connection was blocked all the time here too.

@jilleb Hmm, no boot at all ???

[2020-12-08 17:38] jilleb commented on #4
Nope.. but I'm confident it can be fixed 😄

[2020-12-08 17:43] guino commented on #2
@LouDnl sad to hear that.

You guys need to be careful (as do I) — when I ran the 2.9.7 version on my 2.9.6 board I would not boot anymore so I had to flash it with backup of the flash I made before any changes to get it to work again. In order to flash I had to lift pin 6 again and stripped part of the track under it - luckily the track was going outward the chip so I scraped the track and solder

[2020-12-08 18:01] RaveGun commented on #2
Hi, how do you get the JSON output with the devname?
Thank you.

Hi,
how did you got the JSON output with the devname?
Thank you

[2020-12-08 18:26] Donixon commented on #2
Tried to check the MD5 by putting env, initrun.sh and the ppsMmcTool.txt on SD-card. It starts the camera fine (without the SD-card it won't start). I can see the "Done" screen in _/proc/self/root/tmp/hack_ . But when I turn off the power and insert the SD-card in my Windows machine, the SD-card is empty; except 1 folder: G:\SDT\060866198\record\2020\12

I suspected the PPSAPP there, but nothing.

[2020-12-08 18:42] m11tch commented on #4
I was thinking of only allowing the mqtt connection, to see if this changes anything for ppsapp startup anyone tried this?

[2020-12-08 18:47] guino commented on #2
@RaveGun check the first post of #3 but should be: http://admin:056565099@ip/devices/deviceinfo

[2020-12-08 18:50] RaveGun commented on #2
Thank you.

[2020-12-08 18:51] guino commented on #2
@Donixon  whe ppsapp will erase files from the card if it's full -- you should delete some old videos from the card (under SDT\xxxxx\record\2020\ (or you can delete all of it if you don't care for keeping recent videos). You will need to copy initrun.sh back to the card in order for it to boot -- as long as there's free space the ppsapp should not delete it. When you copy initrun.sh to the card ju

[2020-12-08 18:52] guino commented on #2
@BytheWWW  I should be able to patch your file later today.

[2020-12-08 18:57] guino commented on #2
@RaveGun  did you also post a ppsapp file ?

[2020-12-08 19:23] BytheWWW commented on #2
Cool, thanks

[2020-12-08 19:58] guino commented on #2
@BytheWWW download the patch from: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740937085 then go to https://www.marcrobledo.com/RomPatcher.js/ select your ppsapp and the patch file downloaded and it should create you a ppsapp-rtsp version of it. Copy that to the SD card as 'ppsapp' (same location as initrun.sh) and reboot/power cycle the camera with SD card in it. It should have RTS

[2020-12-08 20:30] BytheWWW commented on #2
@guino Thanks. Can't get it to work yet so maybe I missed something. VLC says it can't connect. Will have another look.

[2020-12-08 20:32] kevinvanwanrooy commented on #2
Thanks Guino! Here is my ppsapp. Can you fix it? When I copy de new ppsapp to root of the sd, is it mount automatically. I can't get telnet working. I don't know what to copy to the sd. Thanks a lot.

model: Bell 5S
softwareversion:2.9.6
BE5S_H1_V10_433
firmwareversion:ppstrong-c51-tuya2_teco2-2.9.6.20200413

[ppsapp.zip](https://github.com/guino/BazzDoorbell/files/5661745/ppsapp.zip)

[2020-12-08 20:57] guino commented on #2
@BytheWWW Sorry, I forgot to say you have to remove the comments from the bottom lines of initrun.sh so they look like this:
[code]
AND copy custom.sh with the ppsapp (patched from the website) to the SD card.

[2020-12-08 21:24] Donixon commented on #2
Thanks for this addition. I managed to get the Action LCS Outdoor Camera (ppstrong-c51-tuya2_lcs-2.9.6.20200628) working with RTSP, with the files in the attachment. Some things to note:
 - I accidently used a 128MB SD-card; will not work. It will erase everything from the SD-card. After that I used a 32Gb SD-card, this worked fine.
 - I managed to make RTSP steam work, and could open it in VLC. A

[2020-12-08 21:39] guino commented on #2
For MJPEG we'll need to find the address to the JPEG buffer for your ppsapp version -- there's a quick write up above but I can take a look if you like.

[2020-12-08 22:25] kevinvanwanrooy commented on #2
@guino When do you have time to take a look at my ppsapp :-)

[2020-12-08 23:11] jandy123 commented on #4
@m11tch: The is a certificate file in home/ca.crt, but I doubt it will work.

[2020-12-08 23:14] jandy123 commented on #4
It's also worrying that tuya can upgrade the device firmware at any moment and without any warning.

As a 1st protection, I've just changed the string `upgrade.bin` to `nograde.bin` in `ppsapp`.

[2020-12-08 23:39] guino commented on #2
@kevinvanwanrooy  I'll look at that tonight.

[2020-12-08 23:52] m11tch commented on #4
@jandy123 the CA cert seems to be related to MQTT, so that is also a dead end..

I think modification of ppsapp is needed, either to modify the urls to connect to or to bypass the connection stages so that it atleast launches..

unfortunately I lack the knowledge to do that :D, I will try some more stuff tomorrow.. hopefully some of the other guys here have some bright ideas :D

[2020-12-09 00:49] guino commented on #2
I made a full guide to patching ppsapp for RTSP and getting jpeg address for snap.cgi/mjpeg.cgi:
https://github.com/guino/ppsapp-rtsp

I am hoping other people can start doing this as I have done a number of them by now.
@kevinvanwanrooy I'm going to work on yours now (hopefuly last one I have to do?)

[2020-12-09 00:54] guino commented on #2
@BytheWWW I appreciate the gratitude, cheers!

[2020-12-09 01:34] guino commented on #2
@kevinvanwanrooy your patch is done and ready on https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-741403593 , please use the page on the first post of that link to create your ppsapp-rtsp version from your ppsapp.

[2020-12-09 02:28] guino commented on #4
to unblock the normal features while offline I think all you may need to do is disable this loop in the main sub:
![main](https://user-images.githubusercontent.com/4961810/101566042-4f1e4f80-399c-11eb-8589-f91fd464f0d6.png)

[2020-12-09 03:31] guino commented on #3
For more patch files please check https://github.com/guino/ppsapp-rtsp/issues/1 -- we should only be posting patches from now on (we should not be making ppsapp files available for download -- only patches)

[2020-12-09 03:31] #3 closed

[2020-12-09 05:15] guino commented on #2
@Donixon I added mjpeg addresses to all ppsapp patches here https://github.com/guino/ppsapp-rtsp/issues/1

[2020-12-09 08:01] jilleb commented on #4
I'll dive into that.

I also noticed that it doesn't syn the OSD date/time. Would be best if this was an optional thing. 😄

![image](https://user-images.githubusercontent.com/8352494/101601441-f7640080-39fc-11eb-8e96-12ea54d9d31a.png)

[2020-12-09 08:02] m11tch commented on #4
yeah the ntp servers it uses are also in the cloud,, I think I saw them in on of the config files though? So perhaps that is an easy fix to point it to a internal NTP server...

[2020-12-09 08:43] BytheWWW commented on #2
@guino Went over all steps again to see if i missed anything, but still no RTSP. Just to be clear, the PPSAPP.TXT gotten from the ROM patcher just needs to be renamed to PPSAPP right? Just delete the extension?

My version had the M after the amount of memory so I tried both without success... 🤪

[2020-12-09 08:59] SawaXX commented on #2
It's very nice solution! Thx for your effort @guino!

Can you maybe fix my ppsapp? I am trying to find out which language I should select but no result so far... Maybe you can help me.

![image](https://user-images.githubusercontent.com/57592388/101607402-dbfcf380-3a04-11eb-93f1-2155cc6f2778.png)

It's basically LSC Outdoor Camera but could be similar to LSC Doorbell...
Thanks in advance!

model:

[2020-12-09 09:45] jandy123 commented on #4
@jilleb Please keep us posted. I could also have a look if needed.

@guino Thanks again !

[2020-12-09 10:14] m11tch commented on #4
this works to get notifications from button press:

maybe not the best way, but it works :joy:
[code]

[2020-12-09 12:01] jilleb commented on #4
After diving into Ghidra, I found some things regarding "flight mode"
It's set in tuya_config.json. Setting it doesn't seem to do anything when it's not connected to the cloud.

[2020-12-09 12:04] jandy123 commented on #4
@jilleb

I would be very curious to know.

[2020-12-09 13:06] jandy123 commented on #4
I've followed @guino's suggestion and we are one step closer. If time is correctly set before starting rtspapp, then we can have off-line rtsp streaming working.

What bothers me still is that ppsapp enters some loop still trying to reach Tuya's NTP server... Ideas ?

[2020-12-09 13:25] jandy123 commented on #4
Ok, I think it's done, ppsapp seems to behave normally !

Can any of you test, i.e., do you have the Action NL doorbell ?

[2020-12-09 13:37] m11tch commented on #4
@jandy123 I have the Action NL Doorbell.. gimme the file and i'll test it :)

in regards to the ntp, did you try changing ntp adresses in dev_settings.json?

[2020-12-09 13:40] jandy123 commented on #4
@m11tch

Nope, not yet. Please test; I have a call...

I attached the patched app.
[ppsapp-rtsp2.zip](https://github.com/guino/BazzDoorbell/files/5666222/ppsapp-rtsp2.zip)

[2020-12-09 14:25] jilleb commented on #4
Weird, I don't have dev_settings.json

[2020-12-09 14:31] Suspect-byte commented on #2
@guino What am i doing wrong? Could you help me? ;-)

[2020-12-09 14:36] jilleb commented on #4
@jandy123 RTSP feed now works when i'm offline!

[2020-12-09 14:38] jandy123 commented on #4
@jilleb Did you have to set time/date before starting ppsapp ?

[2020-12-09 14:45] TheMcSebi commented on #2
Currently at the same stage. Even though the sd card is mounted at /mnt/mmc01 it seems like the initrun.sh script isn't getting executed. echoing to /tmp/ right at the beginning doesn't appear to create the file. Investigating right now, will post updates.
I have a
```{"devname":"Smart Home Camera","model":"Mini 11S","serialno":"","softwareversion":"2.9.6","hardwareversion":"M11S_H1_V10_F23","firm

[2020-12-09 14:48] Suspect-byte commented on #2
@TheMcSebi I got one doorbell and a normal camera these are the ones that i have:

Smart Home Camera","model":"Bell 5S","serialno":"059157762","softwareversion":"2.9.3","hardwareversion":"BE5S_H1_V10_433","firmwareversion":"ppstrong-c51-tuya2_teco2-2.9.3.20191230"

And,

{"devname":"Smart Home Camera","model":"Bullet 2S","serialno":"058960514","softwareversion":"2.9.2","hardwareversion":"B2S_V10_H

[2020-12-09 14:54] jandy123 commented on #4
Well, here it works. Just modify custom.sh to something like:

`  /mnt/mmc01/busybox ntpd -d -q -n -p 192.53.103.108 #ptbtime1.ptb.de
# debug info from ppsapp-rtsp forwarded to output.log
  /mnt/mmc01/ppsapp-rtsp 2>&1 | /mnt/mmc01/log_parser.sh /mnt/mmc01/output.log &
`

[2020-12-09 15:06] jilleb commented on #4
- setting time works before starting ppsapp 👍
- motion detection.. haven't tested yet, but I use Surveillance Station for this.
- I did notice that RTSP feed performance is poor shortly after reboot.

[2020-12-09 15:19] jandy123 commented on #4
@jilleb Could you please fire up your IR camera ? I'm still bothered by the fact that it gets quite warm when running on 12V.

Also, do you get the "offer" to update  fw. inthe Tuya app ? I'd like to bypass this bloody nag and to make sure that we won't get surprise updates from Tuya. This is next on my list...

Now, is the latest patched  ppsapp working normally too ? I.e., if wan access to Tuya

[2020-12-09 15:27] m11tch commented on #4
@jandy123 Sorry, work things came up, so did not get to test it earlier.  used your  nptpd suggestion in custom.sh and that works fine 👍

Results:
- motion detection works
- button press works
- RTSP works. seems to be even faster then before (more FPS)
- ofcourse it still tries to connect to tuya cloud endlessly.

I also get the offer about fw upgrade each time I launch the app, but at the stage

[2020-12-09 15:44] jandy123 commented on #4
@m11tch

Well, it's about same here...

Yep, sure, still, I'm not yet sure if I want it on/off-line yet.

[2020-12-09 15:48] m11tch commented on #4
@jandy123 I do have an issue when viewing the RTSP stream via mplayer, after about 15 minutes the doorbell reboots. do you guys  experience similar behavior?

[2020-12-09 15:53] guino commented on #4
I am glad you guys got a handle on the time thing - I was indeed going to suggest to just set the time from the start script instead of letting ppsapp do it.
My suggestion with the mqtt stuff was to modify the loop so it no longer waits instead of modifying where it connects to but whatever works for you.
At some point you may need to decide between online/offline but you should have the ability t

[2020-12-09 15:57] guino commented on #2
@SawaXX I can take a look

[2020-12-09 15:58] jandy123 commented on #4
@m11tch Well, didn't really test this. But, please do so. As I said, rtsp HD is too much for my OPI + hasssio to handle... I'll stick to the mjpeg.

@guino:

Well,, that's what I did. Just have a look :).

====

One more question: Can we bypass killing of the original ppsapp ? I'm a bit worried, if we  kill it in whatever state, it may erase everything, put fire to our house,  etc ;).

[2020-12-09 15:58] jilleb commented on #4
https://imgur.com/gallery/ZJWYDVp
Heat signature pictures here @jandy123

[2020-12-09 16:08] jandy123 commented on #4
@jileb: Thanks a lot ! Since I didn't even have to open my camera (thanks to @guino !!!), I'll have to investigate a bit which chip is what. But, maybe you guys know that already ? When on 12V, it gets hot exactly under the camera and middle, where the wires are connected. This seems to agree with your photos. There is a big with "chip" with few legs getting hot on the side, which probably is some

[2020-12-09 16:09] guino commented on #2
@Suspect-byte @BytheWWW @TheMcSebi if step 6 confirms the command line changed then it should be working. Try copying the inirun.sh from my zip again (without making changes to it) if it works with 7 then it could be your text editor converting initrun.sh to windows format (in which case you should try a different text editor that supports linux format). Another thing to keep in mind that some of

[2020-12-09 16:12] jandy123 commented on #4
@jilleb Please test also rtsp streaming while connected to tuya servers. It could be that there is still some hidden timeout... which would be wired, since that would mean on a summer day and with no internet, under normal circumstances, the thing would get fried from so many reboots... Btw., how do we reboot the thing gracefully ???

[2020-12-09 16:21] m11tch commented on #4
@jandy123 The crashes also occur when it is connected to cloud.. I found this out the hard way when I tested this before blocking its internet connection. (the device rebooted when I just fell asleep and the bootup melody woke me up again 😢 )

[2020-12-09 16:27] guino commented on #4
The 15 min reboot could be the ppsapp trying to get back online - never tried to know but sounds reasonable for a cloud device. Could also be just the heat, but less likely.
If you don’t want to kill ppsapp without patching the firmware you would have to basically keep a copy of the home directory in the SD card, then NOT mount the original mtdblock5 partition from flash and then edit the init.d s

[2020-12-09 16:28] jandy123 commented on #4
@m11tch

Yep, I was afraid this is the case... @guino Could we rtsp stream in SD ???

[2020-12-09 16:29] jandy123 commented on #4
@m11tch  Btw. please try with the RTSP-only mod, not with "the off-line" version !!!

[2020-12-09 16:31] m11tch commented on #4
@jandy123 my previous crashes where with the RTSP-only mod, not the offline version ;)

[2020-12-09 16:32] guino commented on #4
You should be able to stream low res with a change in ppsapp, but before anything I would suggest checking the log file to see it days anything before rebooting - in which case we could patch that instead of changing the stream.

[2020-12-09 16:32] jandy123 commented on #4
@guino

Well, ppsapp does so many thing, firmware updates, resetting to factory config, etc....

[2020-12-09 16:35] jandy123 commented on #4
@guino

Yep, totally agree !

@m11tch So, please try to catch the output log , maybe we can figure out what's going on. My dev. is fine in off-line mode, with no rtsp streaming ;).

[2020-12-09 16:36] jandy123 commented on #4
@guino I'll have to go back over your suggestion to bypass killing ppsapp. I'll get back to this ;).

[2020-12-09 16:46] m11tch commented on #4
@jandy123 I'll make some changes to the log output, because currently the output file is overwritten upon reboot ;)

[2020-12-09 16:48] jandy123 commented on #4
@m11tch

Yep ;).

[2020-12-09 17:00] m11tch commented on #4
@jandy123 okay its running with output to a different file.. I'll report back in 15 minutes or so :D

[2020-12-09 17:10] jandy123 commented on #4
In the meantime a "no fw upgrade, offline" version.

[ppsapp-rtsp3.zip](https://github.com/guino/BazzDoorbell/files/5667498/ppsapp-rtsp3.zip)

[2020-12-09 17:14] jandy123 commented on #4
Well, no fw up nag anymore with blocked tuya servers.  Pity streaming to tuya app not working, though...

[2020-12-09 17:16] guino commented on #4
@m11tch There's a hardware watchdog on these devices -- if it doesn't get some 'keep alive' signal the hardware reboots. I would expect ppsapp to continue to send keep alives while RTSP streaming but it is possible that the watchdog doesn't send the keep alive when the app is offline and most definitely the keep alive won't be sent when ppsapp is not running.
You should **not** leave ppsapp stoppe

[2020-12-09 17:17] guino commented on #4
@jandy123 the tuya app live streaming works thru the cloud so you can't expect that to work without the cloud stuff working.

[2020-12-09 17:19] m11tch commented on #4
@guino fair enough :D

stream just died again and device restarted. last log entry:

`[02:35:15.631 INFO pps_watchdog.c:147] exception ocurred: 1`

checking the rest of the log atm but it seems to be mainly errors about connecting to cloud 😓

[2020-12-09 17:20] jandy123 commented on #4
@guino:

Yep, sure, my bad...

[2020-12-09 17:22] jandy123 commented on #4
@guino As far as I understood, rtsp streaming still leads to reboot after 15 min, even with unblocked tuya servers ???

[2020-12-09 17:23] jandy123 commented on #4
Ok, so we need to pad the dog...

[2020-12-09 17:23] guino commented on #2
@SawaXX your ppsapp patch has already been done before: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740477496 just use the page on the first post of the link to patch your ppsapp into a RTSP version ppsapp, copy that to the SD card (same location of initrun.sh) then remove the comments from the bottom lines of initrun.sh so they look like this:
[code]
AND copy [custom.sh](https://ra

[2020-12-09 17:24] jandy123 commented on #4
@m11tch Could you test (again ;) rtsp streaming with access to tuya servers ?

[2020-12-09 17:31] m11tch commented on #4
Here is the full output log if anyone else wants to have a look..
@jandy123 sure, I will try the 'online' version in a bit.. first some food :wink:

[output2.log](https://github.com/guino/BazzDoorbell/files/5667603/output2.log)

[2020-12-09 17:37] guino commented on #4
From the log it does seem like the watchdog is doing the reset -- possibly because it wants the device to be back online.. but in that case I would also expect it to try and do it without using RTSP ? you should probably search for that pps_watchdog and try to figure out what exception 1 means (again just a suggestion).

[2020-12-09 17:42] TheMcSebi commented on #2
@guino I'm using Notepad++ which keeps LF unix style. I also made sure the 32gb sd card is FAT32. When I turn recording on it also creates the folder structure with video files in it. It appears, that initrun.sh does indeed not run, since it doesn't even copy the home folder to the mmc despite the line in the script being enabled. I've tried to modify various files on sd card and mmc while checkin

[2020-12-09 17:53] jandy123 commented on #4
@guino

Yep, it makes perfect sense, but let's just be sure what the situation is. Will test too.

[2020-12-09 17:57] m11tch commented on #4
If I don't connect to RTSP the device does not crash/reboot or anything in offline mode. So I'm almost certain it's related to RTSP..

I'll post back in a bit with logs of online mode

[2020-12-09 17:57] jilleb commented on #4
Log entries before my device with active RTSP feed started locking up before a reboot:

[code]

[2020-12-09 18:04] guino commented on #2
@TheMcSebi  Your modified cmdline has ppsAppParts=**5** instead of ppsAppParts=**0** this is why the script isn't running. Install the hack again this time paying close attention to step 2 where it says to copy the original cmd line replacing the ppsAppParts value. I assume it should work (since it was successful in updating the cmdline to include the ThankYou.. stuff)

[2020-12-09 18:09] jandy123 commented on #4
@m11tch

Yes, please do so with the rtsp-only maybe ????

[2020-12-09 18:10] jandy123 commented on #4
@jilleb Hmm, that doesn't sound right ;).

[2020-12-09 18:15] jandy123 commented on #4
Good thing is that unlocking access to tuya servers seems fine with the off-line patched version too !

Fw upgrade nag still there in app, though ;).

[2020-12-09 18:16] m11tch commented on #4
Stop using the app!! 👻

[2020-12-09 18:18] guino commented on #4
If you're going to use offline, that makes perfect sense ;)

[2020-12-09 18:21] jilleb commented on #4
What if we make the device think it's a much higher version. Editing the version and firmware strings, then Tuya will probably think: "never mind, doesn't need an update"

[2020-12-09 18:34] jandy123 commented on #4
@jilleb

I was looking exactly into this, but couldn't figure it out.  @guino  Could you maybe help ;) ?

[2020-12-09 18:38] guino commented on #4
I am pretty sure there's a structure that holds the current version, serial, etc. I think either serial or version is at offset 0x100 of the structure, but I honestly don't recall right now (I am engaged with day-work right now).

[2020-12-09 18:54] guino commented on #4
@jandy123  if I recall correctly look at the very first function in the main sub which I think prints start information including version -- should point you to where the version is being stored.

[2020-12-09 19:05] BytheWWW commented on #2
@guino Aaaarghh.... >:{  It all seems to be fine. The unit doesn't boot without the SD card in it and http://IP/proc/self/root/tmp/hack says 'done' every time. Anyway, I'll leave it for now since I don't know where to go from here, but thanks again for all the effort!

[2020-12-09 19:19] m11tch commented on #4
@jandy123 @jilleb

I was running ppsapp directly from command line this time, it really only prints
`[20:14:34.626 INFO pps_watchdog.c:147] exception ocurred: 1
`

before ppsapp just stops running..
telnet sessions stay alive, and I was also able to start ppsapp again before the device rebooted

in dmesg I'm seeing the same messages as @jilleb
[code]

pid 3492 was the pid of ppsapp before it crash

[2020-12-09 19:23] guino commented on #4
@m11tch  so that sounds like the app is crashing for lack of cloud connection -- which explains these weird memory messages I guess. you could 'get around' it by just running ppsapp in a while loop (custom.sh) but that's kind of a rigged solution which would interrupt RTSP feed if you're looking for an always-on feed.

[2020-12-09 19:26] m11tch commented on #4
@guino the same happens with cloud connection, it really only happens when i open the RTSP stream.

some added info, if I execute ppsapp from terminal and kill it with ctrl + c, I see the same messages in dmesg:

[code]

So i'm guessing the messages in dmesg are an after effect of ppsap crashing rather then 'the source of the problem'

[2020-12-09 19:27] guino commented on #2
@BytheWWW if your camera doesn't boot without SD, just do this: zip up the following files from your SD card and post it here so I can review:

initrun.sh
custom.sh
ppsapp

These two files along with ppsapp (modified for RTSP) should be in the main folder/directory of the SD card.

[2020-12-09 19:29] guino commented on #4
I wouldn't be surprised if their RTSP feature is bugged and causing ppsapp to crash... I don't use RTSP enough to see if mine crashes but I can most certainly try it out to see and let you know.

[2020-12-09 19:34] BytheWWW commented on #2
Here you go:
[Archive.zip](https://github.com/guino/BazzDoorbell/files/5668224/Archive.zip)

[2020-12-09 19:43] m11tch commented on #4
Then I would have to kill the startup sound ppsapp makes, cause I'm going to go mad if it's doing that every 15 minutes 😂

Looking forward to your stability of your version.. maybe it's just an issue with our version of ppsapp/our specific model?

[2020-12-09 19:46] guino commented on #4
I don't get anything weird in dmesg, and it's been running 11 mins so far -- could also be something botched by the ppsapp mods (mine has exactly 1 byte changed).

[2020-12-09 19:49] m11tch commented on #4
Dmesg messages appear after crash, give it a few more minutes.. seems to be 15 - 20 when it crashes for me

[2020-12-09 19:52] guino commented on #4
Spoke too soon, crashed too, so it is not just your version. May just be a bug they haven’t fixed in their app.

[2020-12-09 20:21] guino commented on #4
Mine ran for a little over 13 minutes as well (while RTSP streaming in HD). I only use it to view it briefly and regardless of how many times I have viewed the feed this is the first time I have seen it crash.

Alternate options would be:
-Try SD to see if it crashes.
-Try to 'fix' the issue in their app (I don't see that happening)
-Work on a full RTSP version of streamer-arm (unfortunately I don

[2020-12-09 20:22] jandy123 commented on #4
I guess given this

we should try padding the watchdog. I'll look at it tomorrow.

@guino: I'll check again if I can modify the software_version string. As far as I remember is hard-coded, though

[2020-12-09 20:31] guino commented on #2
@BytheWWW Everything looks good on your files except for one thing: the ppsapp file is currently named ppsapp with **.txt** in it -- did you do that just for the zip file or maybe your OS hiding the extension of the file ? the file name should be exactly **ppsapp** (no .txt), otherwise you're just running the default/original non-rtsp version of ppsapp.

[2020-12-09 22:19] BytheWWW commented on #2
@guino I have an iMac and I removed the .txt extension but somehow it was still there when I checked the info of the file. Anyway, it boots up now and I hear the startup chime twice (once while booting just before the light blinks blue, once after the light stays blue)
But still I can't see it in VLC 🤦

[2020-12-09 23:03] guino commented on #2
@BytheWWW Make sure there's always some free space on the SD Card (i.e. delete old files from SDT directory), otherwise the ppsapp may 'delete' files to create free space. You want to have the startup twice (though that doesn't always happen depending on how soon the patched ppsapp starts). In any case: there are reports that VLC for mac isn't able to play the RTSP stream from these cameras, so I

[2020-12-09 23:44] guino commented on #4
@jandy123  @m11tch you know it may actually be simpler to download the hisilicon SDK and run your own RTSP application than trying to fix ppsapp -- the only things we'd have to figure out are:
1-how to signal the watchdog so it doesn't reboot the board
2-how to detect the button press from the doorbell (it may show up in the kernel log already)
3-how to do motion detection (although I am pretty su

[2020-12-10 04:43] guino commented on #4
some more interesting stuff:
The watchdog is controlled by this function:
[code]
param_1=1 means start watchdog, param_1=2 means stop watchdog, param_1=0 means reset watchdog.
param_2 is the watchdog timeout (I think 30secs default) when starting the watchdog which would mean the ppsapp stopped for more than 30 seconds the board should reboot itself. It should be easy to make an application that m

[2020-12-10 04:58] guino commented on #4
also interestin ( don't know if it works): https://github.com/chertov/hi_minihttp -- I believe the openIPC software also uses 'minihttpd' application (don't know if it's the same one) which is what serves the RTSP/ONVIF for the hisilicon chips.

[2020-12-10 07:33] adwiraguna commented on #4
I've been trying to intercept MQTTS traffic between camera and tuya server using IOXY but still no luck because camera check for self signed certificate, basically here is what I do:

1. create self signed certificate for IOXY MQTTS broker
2. run local IOXY broker to intercept traffic from camera and pass it to tuya mqtt server, mine is to m2.tuyaus.com:8883
3. change DNS resolution for m2.tuyaus.

[2020-12-10 07:39] jandy123 commented on #4
@guino I've seen that function too. But, as you also said, it's wired since the watchdog timer seems  to expirein ~30 sec. or so. Why would it reboot when rtsp streaming after 10-15 minutes ? I still believe is more of a bug, rather than the wdt.

Interesting idea to look into own rtsp server. Do you have the sdk ?

[2020-12-10 07:47] adwiraguna commented on #4
have you check CPU usage while streaming via RTSP, mine reach 100%, I think the watchdog disrupted because of full CPU usage.

[2020-12-10 07:47] m11tch commented on #4
It reboots because ppsapp crashes/exits after 10-15 minutes of RTSP streaming.

@adwiraguna what are you looking for in the mqtt messages? Have you seen @jandy123 's logparser to send mqtt messages on motion/button press?

[2020-12-10 07:50] jilleb commented on #4
I  left my camera with offline ppsapp running, and blocked from any internet access, while being connected to my Synology Surveillance Station by using the mjpeg.cgi. It didn't restart for 12 hours. Note: I didn't connect to RTSP during these hours.
Previously, if I would connect to RTSP and left the connection open for more than 10 minutes or so, the cam would crash.
I guess this confirms: it's n

[2020-12-10 07:57] m11tch commented on #4
I've updated my first post in this thread with a collection of the current information/files for easy access, let me know if I missed anything

@adwiraguna  I found a mqtt related CA.crt in /home/, perhaps if you place your CA there you can get TLS verification to work?

[2020-12-10 07:59] jandy123 commented on #4
We should make sure that we feed the wdt and test again rtsp streaming off/on-line.

[2020-12-10 08:04] m11tch commented on #4
for reference, here is the log running the 'original' ppsapp-rtsp with free access to internet for the doorbell
[cloudconnected.log](https://github.com/guino/BazzDoorbell/files/5671177/cloudconnected.log)

[2020-12-10 08:05] adwiraguna commented on #4
Tried that too, but still not working, I think that file is an old file and not used anymore

[2020-12-10 09:28] m11tch commented on #4
@adwiraguna it seems they are using the same self signed certificate for the mqtt server as for the webserver.
probably the certificate hash is hardcoded in ppsapp?

[2020-12-10 09:52] adwiraguna commented on #4
Yes, I think so, still looking in ghidra for those TLS verification

[2020-12-10 10:08] TheMcSebi commented on #2
@guino Well, that was my mistake. Don't understand how I could overlook that the two times I've checked every step. Connecting sometimes crashes the camera but it works fine most of the time. What a great success!

[2020-12-10 10:34] jandy123 commented on #4
Feeding wdt seems to work. To test just run `test_wdt` before `ppsapp`. You may for instance kill ppsapp and device shouldn't reboot by itself.

Anyways, please test rtsp streaming making sure that test_wdt is started before ppsapp.

[test_wdt.zip](https://github.com/guino/BazzDoorbell/files/5672019/test_wdt.zip)

[2020-12-10 10:43] m11tch commented on #4
@jandy123 I will test this shortly, but I don't see how this will stop ppsapp from crashing? or am I missing something? :wink:

[2020-12-10 10:47] jandy123 commented on #4
@m11tch We were thinking that maybe due to high CPU occupancy while streaming RTSP, ppsapp may be unable to feed the wdt every 30 seconds for some reason. IF this was so, that ppsapp would reboot device.

However, I've just tested and still get the

`[11:41:31.694 INFO pps_sd_stream_mng.c:1319] gmd_store_cnt 26`

exception while making sure wdt is properly fed (every 10 seconds) using test_wdt.

S

[2020-12-10 11:08] m11tch commented on #4
@jandy123 just crashed for me aswell, exit code of ppsapp 255.

[2020-12-10 11:09] jandy123 commented on #4
Hmm, I just found a wired thin, still related to wdt. I think it's supposed to stop after a while. Will get back to this.

[2020-12-10 11:41] jandy123 commented on #4
For the reference, I attached the wdt feeder with source code.
[feed_wdt.zip](https://github.com/guino/BazzDoorbell/files/5672399/feed_wdt.zip)

[2020-12-10 11:42] jandy123 commented on #4
@m11tch Still up and running :).

[2020-12-10 11:45] m11tch commented on #4
for what its worth, restarting VLC every 5 minutes still resulted in a crash of ppsapp after about 15 minutes.. going to test your new version of ppsapp now..

[2020-12-10 11:48] SawaXX commented on #2
Ow... yes... It works! Previously, I miss part with website pathing so I get lost somewhere... Sometimes I feel that my brain needs some debugging as well :) Anyway, Thanks!

I have also an indoor LSC Camera but as long as I can see, it uses the same ppsapp. (the same MD5 code...) I will try to get it running tonight...

I also would like to implement HTTP:8080/cgi-bin/snap.cgi

@jilleb and @LouDn

[2020-12-10 11:59] LouDnl commented on #2
My cam is unusable unfortunatly

[2020-12-10 12:23] m11tch commented on #4
@jandy123 looks like you found it! stream has been up without crashes for atleast 23 minutes so far :)

[2020-12-10 12:53] jandy123 commented on #4
For those bothered by the tuya app update nag, I forced changed the `software_version` to 2.9.8 (from 2.9.6) and the nag is gone.

See attachment.

[ppsapp-rtsp5.zip](https://github.com/guino/BazzDoorbell/files/5672807/ppsapp-rtsp5.zip)

[2020-12-10 12:59] m11tch commented on #4
@jandy123 still running after 1 hour.  the nag will come back once they release 2.9.9 though :joy:

[2020-12-10 13:06] jandy123 commented on #4
Shxx. I bricked it.

Do not install ppsapp-rtsp5.zip !!!

My camera doesn't start the initrun.sh and custom.sh

[2020-12-10 13:11] m11tch commented on #4
@jandy123  ohno, dit it maybe just reset because of higher version?

do you still see "Thank you Guino" in: http://admin:056565099@192.168.x.x/proc/cmdline

or is the device completely unreachable now?

[2020-12-10 13:13] jandy123 commented on #4
@m11tch: Yes, I still see:

`mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys),4352k(app),320k(cfg) ppsAppParts=0 ppsWatchInitEnd ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,Th

[2020-12-10 13:20] m11tch commented on #4
@jandy123
are the files still on the SD card? i saw something in the other thread about files being wiped from SD if it is full

[2020-12-10 13:29] jandy123 commented on #4
@m11tch Sd card seems fine. Wired part is that also
`http://admin:056565099@192.168.x.x/proc/self/root/tmp/hack `

says done, so it all looks fine. It's just that ppsapp is not getting restarted/killed ???

[2020-12-10 13:31] m11tch commented on #4
@jandy123 can you still access it via telnet? (if you start telnetd before attempting to kill ppsapp in custom.sh?)

[2020-12-10 13:34] jandy123 commented on #4
Also http://192.168.2.179/proc/self/root/tmp/custom.sh exists.... ???

[2020-12-10 13:38] m11tch commented on #4
I know, that's why I was wondering if you can still access it via telnet?

[2020-12-10 13:48] jandy123 commented on #4
Sorry ! False alarm ;)  custom.sh got corrupted on sdcard.

So it's all fine, including the no-nag version ;). Will reupload.

[2020-12-10 13:53] jandy123 commented on #4
Right, so back on track.

` the nag will come back once they release 2.9.9 though `

If they'll make some fw update.

Till then, below is the no-fw-up-nag which includes all other fixes above and should be quite reluctant to perform fw update ;).

[ppsapp-rtsp5.zip](https://github.com/guino/BazzDoorbell/files/5673194/ppsapp-rtsp5.zip)

[2020-12-10 14:03] m11tch commented on #4
@jandy123 perhaps you can share more details on your fix for the RTSP Stream so people with other ppsapp versions can replicate :) if you have time for that ofcourse :D

[2020-12-10 14:07] jandy123 commented on #4
@m11tch So, rtsp seems fine, right ? Have you tried the offline version ? I'd still like to have the possibility to choose between SD and HD somehow. Maybe we can ask @guino since he knows the exact ring-buffer details.

@m11tch `perhaps you can share more details on your fix for the RTSP Stream`

Sure, but I'll have to remember the details. There were three changes, I'll have to look through my n

[2020-12-10 14:08] jandy123 commented on #4
@m11tch `btw I don't think we need to use test_wdt with this version of ppsapp do we?`

Yes, we shouldn't need it, probably. Pls. test without it. Also in off-line mode. Btw. do you need to change versions ? On/off line ?
Here it seems fine to use the same version in both cases.

[2020-12-10 14:13] m11tch commented on #4
currently i'm in offline mode running the RTSP stream for about 2 hours without any crashes without issues, have yet to test online mode with this version of ppsapp

[2020-12-10 14:25] jandy123 commented on #4
@m11tch Maybe it's just connection issue ? I do not suppose the device is very fast qua wifi speed.

That's why I'd really like to see an SD version too ;).

[2020-12-10 14:31] m11tch commented on #4
@jandy123 looking at the log it seems there was indeed a connection issue around 13:00 which caused the RTSP stream to stop and start again, perhaps VLC got confused at this stage..

[2020-12-10 14:32] jandy123 commented on #4
@m11tch

Exactly my point.

[2020-12-10 14:37] gtawelt commented on #2
The LSC Indoor Camera and the LSC Door Bell have the same firmware. Door bell is working "out of the box" with prepared SD card. RTSP, Snap, Mjpeg everything is doing fine.

But on the Indoor Cam the device keeps rebooting when loading RTSP patched ppsapp. Telnet, httpd, Snap and Mjpeg are working. If I have original ppsapp on sd card it still keeps rebooting. Starting patched ppsapp over telnet w

[2020-12-10 14:53] Suspect-byte commented on #2
@guino Hey, I have tried a lot of things and it still doesnt work. I get the HTTP 500 error everytime no matter what I do. The following I have tried:

- used different SD card with FAT32
- Changed the 5 into a 0
- used Notepad ++
- tried on different machine to prepare the sdcard (Windows & Mac)
- an unedited version of initrun.sh
- an edited version of initrun.sh so it will save the ppsapp (remo

[2020-12-10 15:35] jandy123 commented on #4
**Some brief instructions for patching the ppsapp to work in off-line mode:**

- locate main function, see post above by @guino

- look for a while loop similar to:

[code]
- we need to disable the loop so that the application can proceed even if mqtt connection not yet established.

- for this, checkout` FUN_0009139c`. It simply returns a (global) variable, in my case `DAT_0040c81c`. We need to f

[2020-12-10 15:45] SawaXX commented on #2
Yup, I was fighting with LSC Indoor one yesterday, but I thought that I am doing sth wrong because it's rebooting... I will see tonight :)

[2020-12-10 15:53] guino commented on #4
@adwiraguna my cpu stays between 80-95% while streaming.
@jandy123  I do have a version of the SDK (Hi3516EV200R001C01SPC010) around 2GB if you want to download it -- you can usually find it online somewhere (i.e. some aliexpress posts of hi3516/hi3518 oem boards have links to it). Also loved the write-up on the mods.

[2020-12-10 16:01] jandy123 commented on #4
@guino Could you please have a look if it's possible without too much effort ;) to make a SD version ? I mean, you already invested lots of time in figuring out the ring buffers....

[2020-12-10 16:02] guino commented on #2
@Suspect-byte if you git the 'ThankYous' in step 6 the hack will probably work even if you don't get 'done' in step 7. To verify you can try to boot up the camera without SD card to see if it boots or not: NOT booting means the hack is working, if it boots without the SD card then the hack is NOT working.
I would also just go ahead and uncomment this line from initrun.sh (just remove the # in fron

[2020-12-10 16:03] jandy123 commented on #4
@guino Shall we wait a bit and see how this goes, before jumping into making our own rtsp server ? But, it's good to know that you have the SDK. Also the resources you posted seem *very* promising, indeed.

[2020-12-10 16:04] guino commented on #2
@LouDnl maybe find a used one and join back the fun ?

[2020-12-10 16:07] guino commented on #2
@SawaXX the guys in the offline issue seem to have found some sort of hard-limit of around 13 minutes for the RTSP streaming and seem to have got around it. I only use RTSP for quick viewings so I don't have a problem, but seems they manage to patch it so that it can run for hours non-stop. If you're trying to stream RTSP for long periods that may be the issue.

[2020-12-10 16:12] jandy123 commented on #4
Regarding the tuya app upgrade nag, in my case (doorbell from Action NL) running software_version 2.9.6, it's enough to change two occurrences of string "2.9.6" to "2.9.x" (x is set to 8 in my case) in ppsapp. This will calm down the tuya app continuously asking for a fw upgrade...

[2020-12-10 16:15] guino commented on #4
@jandy123 for SD version (from what I have seen) all you have to do is find the init echoshow function as described in https://github.com/guino/ppsapp-rtsp):
![initechoshow](https://raw.githubusercontent.com/guino/ppsapp-rtsp/main/img/initechoshow.png)

Then modify that uStack32 parameter to 1 (which is the parameter that goes to the start_echoshow function (highlighted in yellow). If I remember c

[2020-12-10 16:32] LouDnl commented on #2
Good idea. I have one but it uses different hardware and is much easier to hack. Working on an mjpeg stream for it now. It has it but its password protected through built in htpasswd which doesnt seem to exist

[2020-12-10 16:38] jandy123 commented on #4
@m11tch Looking at your edited post above, seems that "13" minutes still creates problems when rtsp streaming ? Is this timing consistent among multiple runs ?

I mean, given the high CPU occupancy, there may be some reason that they stop rtsp streaming after xxx time.

Another idea. Has anyone looked into what happens if the tuya app streams for longer than 13 minutes ? This without any mod, with

[2020-12-10 16:41] m11tch commented on #4
@jandy123 no it is longer then 13 minutes.. just written down the start time:
started stream at 16:52:56
image froze at: 17:37:36

[2020-12-10 16:43] Suspect-byte commented on #2
@guino It reboots normally without any problems without any sdcard. So the hack isnt working and got still the same error. I enabled the initrun.sh also. What can I do ?

[2020-12-10 16:47] guino commented on #2
@Suspect-byte can you post the result of these two URLs:
http://admin:056565099@IP/proc/cmdline
http://admin:056565099@IP/proc/self/root/etc/init.d/S90PPStrong

[2020-12-10 16:49] jandy123 commented on #4
@m11tch Hmm, just connection glitches then ?

Anyways, let's try to see if we could cook up an SD version.

[2020-12-10 16:53] m11tch commented on #4
@jandy123 the accesspoint is like 50cm away from the bell atm.. :D
threw the stream in iSpy now, lets see if it also freezes there..  I still suspect it might be a VLC issue. will report back soon..

[2020-12-10 16:54] jandy123 commented on #4
@guino It would be much appreciated if you could do a brief write-up of your initial buffer-overflow "rooting" :).

[2020-12-10 16:57] jandy123 commented on #4
@m11tch Pls. try streaming in tuya app and in perfect conditions too ;).

[2020-12-10 17:00] jandy123 commented on #4
Yep this one is getting too long too...

I still have a question for you guys regarding the HW connection to the chime, but that will come later... maybe we could start  another thread at some stage...

[2020-12-10 17:38] jandy123 commented on #4
Thanks to @guino here is the (ultra)SD version. Let's test and see what happens. CPU occupancy still very high, though (97%), so not sure it's going to help much.

===

I use top to look at occupancy, but is this accurate ? I mean process occupancy is 97% but the "overall" occupancy is just ~15%. How should one interpret this ?

[ppsapp-rtsp6.zip](https://github.com/guino/BazzDoorbell/files/567465

[2020-12-10 17:42] m11tch commented on #4
Hoe much cores does the device have? If there's more then one 100% cpu usage would be 1 core fully utilized

[2020-12-10 17:54] jandy123 commented on #4
@m11tch
Ok, wired. I just don't get it This is what I have

![image](https://user-images.githubusercontent.com/14886625/101810499-27082b00-3b19-11eb-90ba-a4ecc39c20ac.png)

[2020-12-10 17:57] m11tch commented on #4
Yeah... I normally see the same (when using mplayer or VLC) I will get back to you on this.. btw look at the CPU line:

it says: 14% CPU usage is used in user space and 85% is used in system/kernel space.

for reference:

`The difference is whether the time is spent in user space or kernel space. User CPU time is time spent on the processor running your program's code (or code in libraries); syste

[2020-12-10 17:58] jilleb commented on #4
Great work guys! I was a bit busy with work today, but will do a "slightly long term" test tonight and tomorrow, connecting the SD RTSP to Surveillance Station while blocking Tuya access.

And... I've played some more with other things inside the software like changing ringtones. But that's maybe for a different topic 😆

[2020-12-10 18:02] guino commented on #4
@jandy that one was a doosie I am sure I am not going to remember everything...
Keep in mind I already had access to my device (using the programmer hack), so from there:

I knew that if I wanted to anything without a programmer I had to find a way to execute something in the SD card.
I also had already seen a boot script S90Ppstrong which referenced mounting/using the files from the SD card inste

[2020-12-10 18:02] jandy123 commented on #4
@jilleb

Sounds great... thinking already about my next chime song ;).

[2020-12-10 18:07] jandy123 commented on #4
@guino Excellent stuff !!!

Thanks for the details...

[2020-12-10 18:22] guino commented on #4
@jandy123  if for some reason you need specific details like uboot load address, etc just let me know.

[2020-12-10 18:28] m11tch commented on #4
I came across this post in regards to connecting to traditional hardware chime/bell.. not sure if you want to go down this route https://gathering.tweakers.net/forum/list_message/65126620#65126620

Alternatively you can do it in your home automation / node red based on the mqtt button press 😉

[2020-12-10 18:29] Suspect-byte commented on #2
@guino these are the results:

http://admin:056565099@IP/proc/cmdline: `mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys),4224k(app),448k(cfg) ppsAppParts=0 ppsWatchInitEnd ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,T

[2020-12-10 18:51] jandy123 commented on #4
@m11tch I knew that forum ;) Well,  I'd like to go one of these:

- 433MHz RF transcorder + ESP8266 (as RF transcorder and WIFI switch for hassio) + Cheap-(action-grade)-RF-chime
- use my old analog bing-bang; for instance, I see that marmitek Buzz LO has a so-called "doorbell kit" box. Very curious what that actually consists of. See https://www.marmitek.com/nl/smart-me/smart-security/deurbel-met

[2020-12-10 18:56] jandy123 commented on #4
Right, so the SD version also got stuck with:

[code]

I still *dislike* the high CPU occupancy.

@m11tch Is CPU occupancy player-dependent ???

[2020-12-10 19:04] jandy123 commented on #4
@m11tch Well, you see you forced me to think to just realise that I could use this:  https://ewelink.coolkit.cc/?p=886 to implement my 1st bullet. I still have 2 of them lying around...

[2020-12-10 19:05] guino commented on #2
@Suspect-byte unfortunately on this device you have these lines in the firmware which will prevent the hack from working:
[code]
It seems they may have forgotten that line in there on your firmware version. So your only option right now would be to use a programmer to modify the initrun.sh directly in the flash (like my original hack).
The other possibility would be if you could update your firmwa

[2020-12-10 19:25] m11tch commented on #4
I have rflink connected to my home assistant server for 433mhz stuff so I could use that for cheap 433mhz bells (I have one of them laying around)

[2020-12-10 19:44] m11tch commented on #4
well, the stream in iSpy is still working flawlessly since 17:48, so 3 hours now without issues and low cpu load..
![cpuusage_rtsp_vlc](https://user-images.githubusercontent.com/5503199/101821602-77d35000-3b28-11eb-8c5c-557ae6c26504.PNG)

just started it via VLC again, 95% CPU straight away..

@jilleb how is the CPU load when using surveillance station?

[2020-12-10 19:47] Ierlandfan opened #5 "Upgrade with patch"
According to this http://<ip>/flash/upgrade/release_package we can upgrade by file.
You can upload a firmware file. Can we create such a file?

[2020-12-10 20:08] guino commented on #4
maybe try: vlc --rtsp-tcp rtsp://ip:8554

[2020-12-10 20:11] m11tch commented on #4
Ppsapp crashed when I did that.. 😂 gotta do some other stuff atm, will try again later

[2020-12-10 20:32] guino commented on #5
From the few bin files we have seen it looks like the file must be signed for the upgrade to accept it, so it is not something I would try without a programmer to backup/restore the flash and I doubt the signing certificate is on the flash for us to create a valid upgrade file. There’s a better chance of getting the upgrade to work with ppsMmcTool.txt which may not require a signed firmware file.

[2020-12-10 20:38] jandy123 commented on #4
@m11tch

Via RF 433Mhz.

Yes, it should. In the Dutch link you linked to more people confirm this. Will have to test though to make sure.

@guino,@m11tch: Could you maybe start another "issue" regarding HW linking to chime, etc. ?

===

@m11tch : Good find with TCP vs. UDP. Let's test a bit more and see what happens/

[2020-12-10 20:42] jandy123 commented on #4
TCP makes a *huge* difference: Now usage is <5%, both system and user space; HD too.

[2020-12-10 20:53] m11tch commented on #4
I will check my rflink tomorrow to confirm the bell sends out a 433mhz signal on button press @jandy123

[2020-12-10 21:02] jilleb commented on #4
I can confirm. I linked it to my Homey over 433mhz, as a regular wireless Action doorbell device.

[2020-12-10 21:06] jandy123 commented on #4
@jilleb Did you have to use the LSC app and enable the "Doorbell option" ?

[2020-12-10 21:09] jilleb commented on #4
No. It was on by default. I only used the Tuya smart app to configure the connection and then left it alone. 433 signal is sent by default.

[2020-12-10 21:11] m11tch commented on #4
@jilleb
Strange though, I have auto add turned on and it hasn't shown up, maybe the signal is too weak as my office is quite far away from the rflink..

I know kaku devices pair with whatever sends a command in the first minute after plugging it in, does your current chime have similar functionality so that you can pair it to it perhaps?

I also have a cheap chime/button combo from action that I p

[2020-12-10 21:12] jandy123 commented on #4
@m11tch Streaming for ~ 30 minutes, HD mode using TCP. Rock solid :).

[2020-12-10 21:16] jilleb commented on #4
Current chime is hard-wired. I only receive the 433mhz signal on my Homey device currently, haven't paired it yet with a chime, although there's a cheap Action chime in my attack somewhere from a few years ago that I still need to find😆

On my Homey, I enabled the app "Action" which allows for Action 433mHz devices to connect. After that, it was found as soon as I pressed the button on the doorbel

[2020-12-10 21:17] jandy123 commented on #4
@m11tch:

I don't think that will work, unless it can learn the RF command.  Interesting that kaku is able to do so.

[2020-12-10 21:19] m11tch commented on #4
Actually the ones that I know that do this are 433mhz sockets that I bought at action 3 years ago, flamenco brand or something? Anyhow, they are recognized as 'newkaku'

[2020-12-10 21:29] jilleb commented on #4
Mine is "Select plus 200689103". I'll try tomorrow if it works, I don't want to wake up my son/girlfriend 😆

[2020-12-10 21:29] jandy123 commented on #4
Well, that's why I intend to use a sonoff RF bridge. Idea is that I can receive the doorbell signal, modify/create a new RF packet and send it to a cheap generic RF chime.

[2020-12-10 21:30] jandy123 commented on #4
@jilleb, @m11tch: Well, please let me know if your existing chime works.

[2020-12-10 21:31] m11tch commented on #4
the cheap one I have (but cant find atm is also SelectPlus) I'll check tomorrow if It has some learning mode.. otherwise I can just send the command via my RFLink to trigger the cheap chime..

@jilleb I suspect you can do the same with your homey?

[2020-12-10 21:35] jilleb commented on #4
Yes indeed.

:-) Good idea. I'll be on the lookout for this Marmitek kit to connect to the existing old-school chime as well. Currently I haven't found one that's sold seperately...

![image](https://user-images.githubusercontent.com/8352494/101832501-d522cd80-3b37-11eb-9f1f-575361b961b2.png)

[2020-12-10 23:09] BytheWWW commented on #2
Went back to stock. Tried several thing and I love a bit of hacking, but in the end it might be easier for me to get a doorbell with google home and / or home assistant capabilities.

@guino Thanks once more for all you effort and keep up the hacking! 🥇

[2020-12-10 23:12] guino commented on #2
@BytheWWW  it seemed you were so close (you got the patched ppsapp to run) and I thought you just needed to test a different rtsp viewer (i.e. non-MAC VLC or a phone app, etc). You can always try again another time. I do appreciate the words, thanks!

[2020-12-11 08:58] TheMcSebi commented on #2
@gtawelt @SawaXX I have the same cameras I think. For me it wasn't working out of the box either, I've been testing over telnet to kill the process manually and sometimes it appears to just not work. At other times everything does fine. I haven't been able to find a pattern yet.
Then there's also the issue that one of my two identical cameras doesn't respond to the "holding reset while powering on

[2020-12-11 09:30] BytheWWW commented on #2
I know, but I tried several other apps but couldn't get it to work. Besides, I need to have the chime go to my google home device as well.

[2020-12-11 09:53] jandy123 commented on #4
@m11tch I will try today to get this one https://www.action.com/nl-nl/p/draadloze-deurbel/
It's dirt cheap. Planning to get it working via the RF bridge.

How loud are these things anyway ? My existing analog one can be probably hear by all my neighbours...

[2020-12-11 10:02] m11tch commented on #4
@jandy123  this one seems to have a learning mode: https://klikaanklikuit.nl/product/draadloze-deurbel/
Although, I'm not sure if a kaku device responds to a SelectPlus signal... I think there is a difference between the two signals..

I'll try if the sockets I mentioned earlier respond to selectPlus signal

idk about the one they are currently selling at action, but the one I have isn't super lou

[2020-12-11 11:33] m11tch commented on #4
So for some reason my RFLink does not detect any 433mhz signal when i press the button on the doorbell...Could it be disabled on mine? :confused: will investigate further later..

[2020-12-11 11:53] jandy123 commented on #4
@m11tch: I doubt it's not enabled. Just tested and my rf bridge detects it. I only ever touched the tuya app not the LSC.

[2020-12-11 12:02] m11tch commented on #4
@jandy123 did you use the tuya app to add the device to your wifi or the LSC app? I used the LSC app.. this might cause a difference in config? :S

what does your dev_settings.json look like?

mine has:
`		"external_charm":	0`

[2020-12-11 13:38] jandy123 commented on #4
@m11tch
I also have `"external_charm": 0`. However, I'm sure the doorbell generates the following message (sonoff rf bridge):

`RfReceived":{"Sync":12820,"Low":430,"High":1260,"Data":"303630","RfKey":"None"}

Rf bridge is in "standard sniffing mode" for PT2260, PT2262, PT2264, EV1527, etc devices. The "Data" above is also consistent across multiple tries.
.

[2020-12-11 14:08] jilleb commented on #4
No signal. No chime from the doorbell itself either.

[2020-12-11 15:02] Suspect-byte commented on #2
Thanks for making that clear. I got just a sec ago an idea what if I could upgrade my ppstrong with someone that has the same devices as me. I saw someone that got the bell 5s as well but an higher version. Maybe with these commands I can upgrade it:
[code]
What do you think @guino ?

[2020-12-11 15:34] m11tch commented on #4
hmm... I'll hook up the RFLink to my computer after work to see if I can see what's going on..

[2020-12-11 16:58] jandy123 commented on #4
@m11tch
`Perhaps we should start a new issue about compatible 433mhz chimes :)`
Yep !

Still looking at it. It's non-standard as in  PT2260, PT2262, PT2264, EV1527, which the doorbell is ;). I can, however, send the "raw" signal and trigger the chime, though, using rf bridge ;). At 5.x euro seems like a good investment.... and is loud !

[2020-12-11 17:13] jilleb opened #6 "Chime research"

[2020-12-11 17:14] jilleb commented on #4
#6

[2020-12-11 17:18] jandy123 commented on #4
@jilleb, @guino Could you guys copy some of the discussion in this thread in the one above ?

[2020-12-11 17:26] m11tch commented on #6
Not compatible:
![draadloze-deurbel](https://user-images.githubusercontent.com/5503199/101934777-57fe6380-3bde-11eb-8f66-e5204d6886ac.jpg)

[2020-12-11 18:37] m11tch commented on #4
Just a short update on RTSP streaming over TCP, I did some more long term testing today, device and stream are still functioning without issues after atleast 5 hours of continuous streaming.. I'm probably going to mount it outside tomorrow..

[2020-12-11 19:27] jandy123 commented on #4
@m11tch:

I think this actually works, btw.

[2020-12-11 19:46] jilleb commented on #4
Same here. No crashes! And the intercom feature... It would be nice to be able to use it from another app, or have an automated response or something 😁😁
surveillance station has intercom support, but i have no idea what kind of bidirectional channel is used for audio.

[2020-12-11 19:47] m11tch commented on #4
How? :D the tuya app offers 2 way audio, the RTSP stream is 1 way unless I am mistaken?

[2020-12-11 19:50] jilleb commented on #6
I contacted Marmitek about their "connect kit" to be able to work with the old, wired chime. Unfortunately, they don't sell it seperately... But I'm having my hopes up that the Ring Doorbell Power Kit is actually a similar kind of thing, which enables the doorbell to be retrofitted on existing wire/transformer/chime hardware.

[2020-12-11 20:02] jandy123 commented on #4
@m11tch No, you're right. Is one way.

[2020-12-11 20:08] lesleyvanrijn commented on #2
Hi @guino and others! Awesome progress so far! Amazing work you've done in reverse engineer the Tuya platform!
With help of your instruction i've managed to "root" the device and add the CGI and telnet support.

I've successfully patched my ppsapp (found the correct patch file in the other issue) but unfortunately the RTSP stream does not become active. I've enabled a telnet session and killed and

[2020-12-11 20:17] guino commented on #2
@Suspect-byte see #5 for answer

@lesleyvanrijn if your device has native onvif support:
1-why did you need to patch ppsapp? I mean onvif is a publishing service which usually provides the url for the RTSP stream - so I would think that if Onvif is enabled you would already have RTSP enabled/accessible?
2-if 1 is accurate it would be nice to get a copy of your home/cfg files (with keys/serials/etc

[2020-12-11 20:18] jandy123 commented on #6
@jilleb:

Regarding the ring doorbell power kit, have a look here:  https://www.instructables.com/UK-Ring-Video-Doorbell-Pro-Working-With-Mechanical/

Apparently this is how it works:
"
One important note is that you'll need to tell your Ring Doorbell that it is connected to a mechanical chime. This is found in the device settings in the Ring app. When you do this, it basically tells the doorbell

[2020-12-11 20:18] m11tch commented on #4
After some short googling, it seems that ONVIF support is needed for 2 way audio.. didn't @guino say something about ONVIF support?

[2020-12-11 20:19] guino commented on #2
@lesleyvanrijn you may want to so a netstat to see what application is using port 8554 (preventing ppsapp to listen on it) - perhaps that other application may be useful to others? Again, unless the feed is encrypted.

[2020-12-11 20:21] m11tch commented on #6
Would this be what the 'external chime' setting is for in dev_settings.json?

[2020-12-11 20:49] lesleyvanrijn commented on #2
@guino I wasn't able to establish a session trough ONVIF. Tried some apps on my iphone (IP Cams, MVR) and Onvif Device Manager, they were able to detect the ONVIF service but it never created a connection (keeps loading and then connection closed).
Since i saw a patch file for my device/firmware (guino/ppsapp-rtsp), i thought i'd give it a try to see if it fixed the RTSP stream.

[2020-12-11 20:55] guino commented on #2
@lesleyvanrijn that makes sense. So you must have some setting or some other application running which is listening on port 8554 -- just open a telnet session and execute: **netstat -lp** and it should tell you which application is listening on port 8554, then you can try killing that application and restarting ppsapp. If the application listening on 8554 is ppsapp itself then you must have some s

[2020-12-11 21:05] lesleyvanrijn commented on #2
[code]
As it seems the ONVIF port (8000) and RTSP port (8554) are used by ppsapp.
This is the tuya_config.json, should setting onvif_enable to 1 do the trick you think? Will this file be overwritten by the Tuya App (setting the volume for example)?

[code]

[2020-12-11 21:06] jilleb commented on #4
There are onvif xml responses inside the ppsapp, but they are not being published at their default URLs

[2020-12-11 21:10] guino commented on #2
@lesleyvanrijn  See mine has no onvif lines in the json file you should try without the lines to see what happens (make a backup of the file first) and watch the log to see if you still get that "cannot bind port" error, and if not: try to stream from it. You can also try setting onvif_enable to 1 but I am thinking the 'presence' of the line is what may be making a difference here.

[2020-12-11 21:15] guino commented on #2
something else, on that version of ppsapp I see thsese strings:
rtsp://%s:%d/Streaming/Channels/101
rtsp://%s:%d/Streaming/Channels/102

Did you try to do rtsp (port 8554) on these URLs to see if it would work (with the onvif enabled) ? just curiuos. I can tell you that my firmware (2.9.6) does not have any of these onvif settings (json or inside ppsapp).

[2020-12-11 21:19] guino commented on #4
it seems ppsapp 2.9.7 has onvif support (check last comments on #2 ) but the RTSP provided by onvif doesn't seem to work (ovif device manager) and again I don't recommend running 2.9.7 ppsapp 2.9.6 (when I tried that I bricked my device and had to restore it with a programmer).

[2020-12-11 21:37] lesleyvanrijn commented on #2
I think a process in ppsapp is generating a tuya_config.json file, because my changes will get overwritten every time the ppsapp process starts. After removing the file the config file a new copy will be created. So modifying this file won't make a difference.

rtsp://192.168.68.133:8544/Streaming/Channels/102 (ip from doorbell) has the same result: accepting connection but no session established

[2020-12-11 21:40] m11tch commented on #2
@lesleyvanrijn can you try RTSP over TCP? it makes a big difference in CPU load in ppsapp 2.9.6, maybe it rejects RTSP over UDP all together in your version? (most applications seem to default to RTSP over UDP)

[2020-12-11 21:43] guino commented on #2
so something else must be triggering the onvif/8554 function to start -- I think we have had people on 2.9.7 report success so I wonder if it's detecting the board model or something to enable it. I could probably patch the ppsapp to either not enable onvif or move the rtsp to a different port. This may also be the issue @BytheWWW was having where he patched it but couldn't get it to stream.

[2020-12-11 21:55] jilleb commented on #2
Onvif XML files should just be published on port 80, and inside them, the correct port and url are published to the parser of the onvif XML. For instance: it will tell anyone who wants to connect that the video feed is on rtsp://xxx:8554 . So I guess port 8554 should stay where it's at, only the onvif function itself needs to be enabled. It's totally a software feature that lets other sources know

[2020-12-11 21:56] guino commented on #2
@lesleyvanrijn  can you try this
[ppsapp-rtsp-8555.zip](https://github.com/guino/BazzDoorbell/files/5681770/ppsapp-rtsp-8555.zip) on your original ppsapp (I assume it's this one: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740937085 and then try rtsp on port 8554, and 8555 in both ports you should try no URL and also the /Streaming/Channels/101 and /Streaming/Channels/102

[2020-12-11 21:57] jilleb commented on #6
Probably. It's worth a try.

[2020-12-11 22:27] guino commented on #2
@lesleyvanrijn Thanks for reporting! Let us know about the original/non-patched ppsapp results!

[2020-12-11 22:29] lesleyvanrijn commented on #2
I'll check that tomorrow morning! Will keep you updated.

[2020-12-11 22:31] guino commented on #2
@BytheWWW it seems we found why you couldn't get the RTSP to work was your specific version (same as @lesleyvanrijn ) which apparently works on a different URL rtsp://IP:8554//Streaming/Channels/101 and rtsp://IP:8554//Streaming/Channels/101 -- this may even work on stock firmware if you want to give that a try!

[2020-12-11 22:43] lesleyvanrijn commented on #2
@guino You really rock man! Can't find who posted the mqtt solution (kudos to you too!), but today i've managed to modify the LSC Doorbell (€25), add the MQTT client, add the doorbell to Home Assistant and lastly fix the RTSP stream. Just made a quick automation, and when the MQTT broker receives a pushed message, it will show the camera feed on my Google Home Hub devices. Christmas came early thi

[2020-12-11 22:49] guino commented on #2
@lesleyvanrijn I haven't checked lag between the RTSP and the actual events (phsycally) but I have compared the RTSP feed with the live feed from the tuya app and it is about 1s difference at most.

[2020-12-11 23:46] TheMcSebi commented on #2
@Suspect-byte I've tried to modify my ppstrong file using /flash/upgrade/ppstrong, but it did nothing. I assume there's no other way than disassembling the camera and using a hardware programmer or alternatively hoping for an update to "fix" the "issue".

@guino Did you manage to get RTSP to work without an internet connection? I blocked internet access for the cameras in my router and rtsp stoppe

[2020-12-11 23:47] TheMcSebi commented on #2
@guino Did you manage to get RTSP to work without an internet connection? I blocked internet access for the cameras in my router and rtsp stopped working. I was still able to control settings like the status led of the cameras using the LSC Smart Connect app but the port for RTSP wouldn't open.

[2020-12-11 23:52] guino commented on #2
@TheMcSebi there is a whole issue on offline support and the guys there have made progress I think but I use it online so I haven’t followed closely - if you’re running the same version they have you should be able to use their modified version otherwise you would have to read up and try to patch your version. See #4

[2020-12-11 23:52] BytheWWW commented on #2
@guino @lesleyvanrijn That sounds like something to try 😉 Will have a look tomorrow!

[2020-12-12 07:13] RaveGun commented on #2
Did you bought the camera with the 2.9.7 software already installed or it got the update over the tuya app?

Mine bought from Action has the 2.9.6 SW version but if the 2.9.7 comes with the rtsp activated I might just update but then I will not be able to get the mqtt integration.

[2020-12-12 08:20] BytheWWW commented on #2
@guino @lesleyvanrijn I've tried to connect both on stock and on the hacked version, tried all combinations and also tried windows VLC but still it won't connect to the camera. Totally at a loss... Do I need to forward the port or anything? Or is there a specific telnet command I can try?

[2020-12-12 08:42] TopdRob commented on #2
Could you share a guide of your steps? Ik would like to have a similar setup with home assistent.

[2020-12-12 08:43] m11tch commented on #2
Check out https://github.com/guino/BazzDoorbell/issues/4#issuecomment-740644879 this has all the information for using the LSC Doorbell(Action NL) without internet connection, including mqtt support.  Do note that we have only tested this with 2.9.6.

[2020-12-12 08:52] jilleb commented on #4
Maybe we should try to make a 2.9.7 version of the offline app. From the looks of it, there's (at least partial) onvif support and maybe it has some bug fixes?

[2020-12-12 08:54] m11tch commented on #4
well i'm a little hesistant to upgrade, as all the functionality i'm looking for is currently working :)

[2020-12-12 09:00] m11tch commented on #6
I did some quick measurements on the AC side, I don't really see an increase in current draw when the button is pressed.
I'll try some measurements on DC side later

[2020-12-12 09:04] jilleb commented on #4
Yeah good point, don't change a winning formula 😆

[2020-12-12 09:19] jandy123 commented on #4
I also do not plan to upgrade, unless there really is a good reason for it...

[2020-12-12 09:21] jandy123 commented on #6
@m11tch If you try, please put some series resistor to limit current, just in case...

[2020-12-12 09:32] lesleyvanrijn commented on #2
@RaveGun I think i've upgraded the camera a few weeks ago trough the Smart Home app. Being able to root the doorbell is something i've only found out two days ago.

@BytheWWW I'll try all combinations today (stock, first patch file for my device and latest patch file created yesterday by @guino) to see when the stock rtsp stream becomes active. Have you tried calling it with de default admin?
`vlc

[2020-12-12 09:36] lesleyvanrijn commented on #4
If I can provide some help with testing and provide files, just let me know. I'm running 2.9.7 and as it seems it has onvif support but doesn't do much beside broadcasting.

[2020-12-12 09:52] m11tch commented on #6
it seems to draw 0.16A at normal operation, if i press the button, it goes up to about 0.32A for about 1 second and then returns to 0.16A again..  (during my test it was hooked up to the included 12V 1A Adapter)

I only have a cheap multimeter, so I don't know how accurate the measurements are :D

[2020-12-12 09:53] jandy123 commented on #4
@lesleyvanrijn Which device you have exactly ?

[2020-12-12 09:57] jandy123 commented on #6
@m11tch Maybe the 12V 1A adapter is the limiting factor ? Question is, would this trigger an analog bell assuming there is a 25-30 ohm resistor in parallel with the bell coils ?

[2020-12-12 09:58] lesleyvanrijn commented on #4
@jandy123 [LSC Smart Doorbell, 2.9.7](https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740937085)

[2020-12-12 10:03] BytheWWW commented on #2
@lesleyvanrijn Yep, tried it all so I'm totally confused

[2020-12-12 10:04] m11tch commented on #6
@jandy123 I'm not sure, another difference is that normall "bell transformers"(is that the correct english? :joy:) are 6,8,12,24V AC instead of DC like the adapter, does our doorbell even work on 12V AC?

I currently have a ancient trafo that doesn't go higher then 8V AC and I want to get rid of that thing.. So I'm not sure if I can propperly test and i'm also hesistant to plug the bell into AC co

[2020-12-12 10:08] jandy123 commented on #4
@lesleyvanrijn Ok, so same device, just newer firmware. Did you upgrade from 2.9.6, or you bought it like this ?

Anyways, the good part is that apparently the device can still be hacked on 2.9.7. Question is, are there any improvements ?

[2020-12-12 10:12] jandy123 commented on #6
@m11tch

This is a very good question ;).

I'm in the same situation. The original Bazz doorbell is rated12-24V AC, but who knows ? I cannot easily test, since I do not really have access to it.

[2020-12-12 10:16] jandy123 commented on #6
For sure it works on AC. It's in the instructions manual.

[2020-12-12 10:16] jilleb commented on #6
Allright, lets do some additional research then. The Marmitek BuzzLo has the following in the manual:

This product requires an 8 ~ 16 VAC 50 Hz power
source and a stable internet connection

So 8V AC should work...

[2020-12-12 10:18] jandy123 commented on #6
@jilleb 8V AC would be even better w.r.t. heat generation.

[2020-12-12 10:20] jandy123 commented on #6
Let's see, does the device even work with < 12V DC ?  This should be a 1st safer test.

[2020-12-12 10:20] jilleb commented on #6
I could test it, although I'm not sure if my old ass transformer would work:

![DSC_2065](https://user-images.githubusercontent.com/8352494/101981287-04d2f200-3c6c-11eb-9673-dc7f706a4bde.jpg)

[2020-12-12 10:22] m11tch commented on #6
@jilleb my transformer is bakelite, yours is very new compared to mine :D

[2020-12-12 10:29] m11tch commented on #6
the fact that we all have the action NL bell should tell you enough :D
the topic you mentioned is about a compeltely different bell though

[2020-12-12 10:38] jandy123 commented on #6
Look here https://gathering.tweakers.net/forum/list_messages/2031224/1

Search posts by Allewijn. He claims that the device  works on  an AC 8v Hager beltrafo.

[2020-12-12 10:46] m11tch commented on #6
so @jilleb are you volunteering? :joy:

[2020-12-12 11:02] jandy123 commented on #6
I'm quite sure device supports 12V AC. I've just reversed the 12VDC adapter wiring and device works.

[2020-12-12 11:04] jandy123 commented on #6
@m11tch My old analog bell looks just like the one you linked to. For sure, if the device works with analog bell alone, same trick won't work withe an electronic one.

[2020-12-12 11:06] m11tch commented on #6
Well I believe a  analog ding dong chime works differently then a traditional bell :p

[2020-12-12 11:13] jilleb commented on #6
My daytime job is in the field of testing... So let's do it 😂
And if it fails: I've suffered worse bricks in my life, and each of them is a cool birthdayparty story 😂😂

[2020-12-12 13:21] jandy123 commented on #6
I've tried on my trafo 8V AC. It tries to boot but when about to produce the sounds it resets. I suppose it's just not enough juice...

Will redo the wiring with the 12V DC adapter.

[2020-12-12 15:05] jandy123 commented on #6
Right,so it's all installed here using the 12V DC adapter, although, I'm 100% sure 12V AC would be as good;

=====

So, all in happy with the result, wife too ;), etc. Now, just time will tell how long it's going to last...

Anyways, thank you guys @guino , @m11tch and @jilleb;  @guino it's just amazing how much time you put in all this ! It's been a great journey here !!!

Well, I'll still keep a

[2020-12-12 15:28] m11tch commented on #6
Yeah I also installed it today with the included AC adapter. @jandy123 thanks for your awesome work patching for offline mode too! 👍

[2020-12-12 16:17] jilleb commented on #6
Hi guys, indeed, great work!!

I just installed the doorbell on my 8VAC transformer, and i bypassed my good old faithful but crappy chime hardware. It's all working, I'm using Homey with spoken notifications to Google Home ("the bell is ringing" 😂😂) and the Marmitek chime, seen here from the inside:

![DSC_2077](https://user-images.githubusercontent.com/8352494/101988997-a45ca880-3c9d-11eb-90db-28

[2020-12-12 16:18] m11tch commented on #6
did you end up buying the Marmitek chime? :D

[2020-12-12 16:20] jilleb commented on #6
Yes! And it came in the mail today, and it worked withing 1 second 😁

[2020-12-12 16:40] jandy123 commented on #6
Guys, is there a way for a clean reboot ? Still struggling with this, now that the thing is mounted ;).

[2020-12-12 16:40] m11tch commented on #6
@jandy123 I think I came accross a URL to reboot it in ghidra.. let me check

[2020-12-12 16:55] jandy123 commented on #6
@m11tch Hmm, interesting. How did you come across this one ? Does it unmount sdcard, etc ?

[2020-12-12 16:58] lesleyvanrijn commented on #6
@jandy123 There is a whole list available in a different repository. [https://github.com/AMoo-Miki/homebridge-tuya-lan/issues/4#issuecomment-732422778](AMoo-Miki/homebridge-tuya-lan#4)

[2020-12-12 17:08] lesleyvanrijn commented on #6
@jilleb What is triggering the Homey event? Have you added the MQTT client?

[2020-12-12 17:12] guino commented on #6
I also have 8VAC transformer and it is wired within the house (existing chime) like this:

![](https://user-images.githubusercontent.com/8352494/101832501-d522cd80-3b37-11eb-9f1f-575361b961b2.png)

The bell doesn’t ring well like it used to but you can definitely tell the button was pushed. I thought about changing the chime but I kind of like it being muffled specially having the app notification

[2020-12-12 17:12] jandy123 commented on #6
@jilleb What's the "main RF chip" in the marmitek chime ? Could you take a picture on the other board side ?

[2020-12-12 17:19] guino commented on #2
@BytheWWW and @lesleyvanrijn can you post the exact brand name and mode of your device? I know you have the same ppsapp version so I am wondering if there’s a difference in hardware/mode that ppsapp is detecting and using that as a way to start some features in one device but not the other.

@BytheWWW if you’re willing do do some tinkering email me directly (email on github profile) and I can give

[2020-12-12 17:35] m11tch commented on #6
No clue what it actually does, I only spotted it 😂

[2020-12-12 18:23] lesleyvanrijn commented on #2
Playing around with Ghidra i've found some onvif related code (scoped around the onvif_enable property in tuya_config.json).
I'm not shure if i'm in the right direction, but i found 2 references to the "onvif_enable" property:

Once as reading the property and invoke some functions when != 0:
[code]

First thing i would like to test is see if removing the iVar3 != 0 condition and set a predefined

[2020-12-12 18:32] guino commented on #2
@lesleyvanrijn as long as you’re working with your own ppsapp version there’s no harm in trying as the worst case scenario ppsapp will crash in which case you can reverse the changes and try something else. Unfortunately I can’t try that on my 2.9.6 as the ppsapp doesn’t have any of that onvif code and I am also not offered a 2.9.7 version to update (or I probably would try since I have a programm

[2020-12-12 18:39] lesleyvanrijn commented on #2
@guino i did some tests yesterday with changing the json file, but i think ppsapp is creating a new version on boot/start (i.e. fetch latest config from tuya cloud and write it to tuya_config.json file)

[2020-12-12 18:42] guino commented on #2
@lesleyvanrijn that makes sense because I think the json file creation happens after the cloud is initialized. So your change makes sense (to ignore the json setting).

[2020-12-12 19:17] lesleyvanrijn commented on #2
@guino I tried to follow your instructions for creating a patch file, but you are removing if statements / set nop or change address pointers. Removing the if condition will still result in a disabled ONVIF service i guess, since the onvif_enable variable is passed to the return function.

I would like to hardcode iVar3 to 1 instead of the return of the config json. Something like this:
[code]

An

[2020-12-12 19:29] jaspercardol commented on #2
Hello everyone,

Thanks so much for all your research into this topic. I'm pleasantly trying to hack my LSC Smart Connect Doorbell to make it compatible with Home Assistant.

I have however run into an issue: I've followed all the steps of this post but for some reason, my telnet, http server and rtsp stream never come online. Using NMAP and Telnet to test, it seems none of them are running.

I tr

[2020-12-12 19:31] lesleyvanrijn commented on #2
@jaspercardol have you copied te required mmc files and updated the init script / custom.sh script?

[2020-12-12 19:33] guino commented on #2
@jaspercardol if you see “done” when you do step  7 then the hack is working. It is possible you have a corrupt busybox file (check file size, etc) if possible “clone” the repo instead of trying to download directly (to reduce chances of it getting corrupted)

@lesleyvanrijn I will take a look and let you know what to change.

[2020-12-12 19:51] jaspercardol commented on #2
Thanks for the quick response!

@lesleyvanrijn Yes, I edited all the files as necessary :)

@guino Just git cloned the repo to rule out corruption indeed. It seems it's still not working.

So far I've confirmed the following:
- initrun is running, shown by "done" in /tmp/hack
- custom.sh is being run, shown through a temporary echo customshrun > /tmp/hack in the script.

I tried echoing the output

[2020-12-12 19:56] guino commented on #2
@jaspercardol It sounds like busybox may not be running correctly then - if you cloned the repo and used the busybox from the clone the only things I can think of is that your card may have issues (causing busybox not to read/run correctly) or busybox may be incompatible with your board (sounds unlikely) - what is your /devices/deviceinfo information?

[2020-12-12 20:04] guino commented on #2
@lesleyvanrijn in ghidra go into address 0008b8a4, right click on the "bl FUN_000281e0" and select patch instruction -- erase the text in the red boxes and type in **mov** on the first box and **r0,#1** on the second red box. The code on the right side should just look like this (notice the 'if' is gone):
[code]
Then you can modify the file on offset: 0x7b8a4 changing the bytes there to be **01 00

[2020-12-12 20:07] jaspercardol commented on #2
Will try a different SD card in a bit. by the way, is it normal to hear the startup chime twice after placing the patched ppsapp?

[2020-12-12 20:10] guino commented on #2
@jaspercardol it is normal, but doesn't always happen so I prefer **not** to tell people to 'expect' -- just depends on how fast the ppsapp starts/gets killed and the patched ppsapp starts. When it does happen it is a clear indication the hack is working and the patched ppsapp is running from the SD card.

[2020-12-12 20:17] jilleb commented on #4
According to guino:

[2020-12-12 20:25] lesleyvanrijn commented on #2
@guino is saving inside ghidra codebrowser enough or do i need to export the program? Timestamp of the file on my filesystem has not been updated, but that might be ok?

[2020-12-12 20:43] m11tch commented on #4
I did some more reading on audio backchannel, according to the following page: http://www.happytimesoft.com/knowledge/audio-back-channel.html

a RTSP Server should respond if it supports audio back channel or not.

the tuya RTSP server does not respond with "unsupported" but there is also no mention of the back channel in the response:

![rtsp_reply](https://user-images.githubusercontent.com/55031

[2020-12-12 20:44] jilleb commented on #2
Check if your busybox file on the SD is actually bigger than just a few KB.. I cloned the repo, and all I got were the references to the busybox repo instead of the busybox binary 😅

[2020-12-12 20:46] jilleb commented on #4
Is this with the 2.9.6 binary or 2.9.7?

[2020-12-12 20:46] guino commented on #2
Busybox should be exactly 1152216 bytes.

[2020-12-12 20:51] m11tch commented on #4
@jilleb 2.9.6

[2020-12-12 20:54] jilleb commented on #4
Maybe if we capture the dialog during an actual intercom session... I would expect they didn't code some proprietary piece of backchannel functionality, but just regular rtsp functionality.

[2020-12-12 21:01] guino commented on #2
@lesleyvanrijn please double check you modified the correct bytes in the file - compare the 16 bytes before and after the bytes you changed and verify the values that were there before and after you change them - the bytes are displayed in the middle window in ghidra before each assembly instruction. If everything looks right maybe that onvif function is just broken or needs something else (possib

[2020-12-12 21:02] m11tch commented on #4
But, do the intercom sessions via tuya app also go over RTP/RTSP? I'm afraid they are in the HTTPS connection which we cannot intercept due to certificate pinning

[2020-12-12 21:04] jilleb commented on #4
hmmmmmm, damn :-(
good point. Looking at the rtsp stuff inside ppsapp, I can find most of this RTSP output, but nothing related to audio backchannels. I hope in 2.9.7 it's there, but I don't have the binary yet.

[2020-12-12 21:12] lesleyvanrijn commented on #2
**2.9.7 has a working ONVIF implementation**
Reverted to the last working ppsapp (will try it again tomorrow), allowed internet access and booted the camera. Somehow the config-file has not been updated, but i've killed the Tuya App. Maybe the new settings is pushed when the app is open and active?

Anyhow... onvif_enable is still 1 in tuya_config.json and the doorbell has internet access and i ca

[2020-12-12 21:26] guino commented on #2
@lesleyvanrijn I think the changes we made last needed one more patch -- so if you wish to try patching it again do the change like before **AND** aldo modify bytes on offset 8b8cc (file offset 7b8cc) from **cf 73 0b eb** to **01 00 a0 e3** this change (together with the one I posted before) should set the flag in memory that onvif is enabled.
Cool that 2.9.7 seems to have onvif support built in.

[2020-12-12 21:41] jilleb commented on #6
The backside:
![DSC_2082](https://user-images.githubusercontent.com/8352494/101995470-54480b00-3cca-11eb-876a-d4fac0ea2305.JPG)

[2020-12-12 21:58] lesleyvanrijn commented on #4
I've got ONVIF working on 2.9.7. Will make some time the upcoming days to apply offline support provided by [@jandy12](https://github.com/guino/BazzDoorbell/issues/4#issuecomment-742596905) for 2.9.7, with the ONVIF support enabled by default.

[2020-12-12 22:34] jaspercardol commented on #2
This was literally the problem! Thank you so much; you just saved me from a lot of headache haha. Got telnet working now.

Thanks for all the support, I will be watching closely as new things unfold :)

[2020-12-13 09:20] jandy123 commented on #4
@lesleyvanrijn Great  progress !

Please test the ONVIF, also the back audio channel and let us know. If you need help with the patch, let me know.

[2020-12-13 10:55] m11tch commented on #4
So the doorbell currently has an up time of 22 hours, and I notice ppsapp is consuming 95% CPU, there are no RTSP streams running, so I'm not sure what is the source of this high CPU load.. @jilleb or @jandy123 are you seeing the same behaviour by any chance?

[2020-12-13 11:02] jilleb commented on #4
Haven't checked it yet this morning, but it was running all night, very smoothly. I did turn off the night vision because it was causing false movement triggers whenever a car drove by and the exposure has to adjust(which took about 10 seconds!)

[2020-12-13 11:55] MokanHan commented on #6
How did You get the AA B0 29 03 08 0640 0208 1CDE 281819090908190819090908190819081818190819081908181909081909081819 55 key. I am trying to togle RfKey1 on rule match but cannot seem to get it working

[2020-12-13 12:09] m11tch commented on #4
hmm, it seems home-assistant does not send TEARDOWN when ending the sream, maybe this is causing some issues with the rtsp_server keeping open multiple connections.. I'll monitor it some more..

[2020-12-13 12:17] jandy123 commented on #6
@MokanHan

This won't work. Seems that the chime sends non-standard packets (as in not  EV1527 compatible).  Thus, you'll have to learn codes from the button using the 0xB1 command, see https://github.com/Portisch/RF-Bridge-EFM8BB1/wiki/Commands

This can then be converted into a 0xB0 command, see "B1 to B0 Conversion Tools" here: https://tasmota.github.io/docs/devices/Sonoff-RF-Bridge-433/ This i

[2020-12-13 12:58] MokanHan commented on #6
Well got it working anyway with
<code>
Rule1 on RfReceived#Data=303631 do backlog rfkey1 1; RfRaw 0 endon
</code>

[2020-12-13 12:59] MokanHan commented on #6
Well got it working anyway with
Rule1 on RfReceived#Data=303631 do backlog rfkey1 1; RfRaw 0 endon

[2020-12-13 13:13] jandy123 commented on #6
@MokanHan That will work _if_ the alarm accepts standard EV1527 24-bit packets. If it doesn't, as for the Action 2020 in my original post, that won't work.

[2020-12-13 13:16] jandy123 commented on #2
@guino Could you please share the sdk ? Couldn't find it anywhere. I really intend to add nfs & cifs support.

I've  managed to compile nfusr, to just find that the fuse module is not available ;).

[2020-12-13 13:53] MokanHan commented on #6
And yes! also got my 50 cent chime working LOL.

<code>Rule2 on RfReceived#Data=303631 do backlog RfRaw 1; RfRaw AA B0 25 05 08 00DC 037A 015E 00A0 21F2 4818181819081929281929292929292929292B192928181818 55; RfRaw 0 endon</code>

[2020-12-13 14:04] jandy123 commented on #6
@MokanHan Well, now you know exactly what I mean :) !

[2020-12-13 14:20] MokanHan commented on #6
Thanks for the right direction. I forgot to press the 50 cent Bell button all the time :)

[2020-12-13 16:13] RaveGun commented on #2
Hello,
I updated the camera firmware with the LSC app to the 2.9.7 and with no other hacks. The onvif port 8000 and the rtsp 8554 are open but there is no connection nor streaming. I have tried with both username password combinations. Interesting, there is no timeout either or at least I did not wait log enough.

Maybe some of your patching changed something.

[2020-12-13 16:14] MokanHan commented on #6
A simpele sidenote: do not cut lines. Use your already acquired hardware to flash porting on tasmotized rfbridge

[2020-12-13 16:21] guino commented on #2
@jandy123 try https://dl.openipc.org/SDK/HiSilicon/

If you manage to get nfs/cifs working I would be very interested but I think you will need to recompile the kernel for that and the question then is how you intend to load it.

[2020-12-13 16:24] jandy123 commented on #2
@guino

Nope. I've tried to avoid compiling the kernel and tried with a user-space NFS client implementation, to just find out that I still need fuse.ko loaded ;). So, no the only way out is to get modules loaded in the current kernel ;). But, I do need the SDK to be able to compile a kernel/module, apparently...

[2020-12-13 16:40] jandy123 commented on #2
@guino:

Btw. I'm fully aware about your cron script grabbing files over a cron job. Issue there, in my opinion, is that it's just not soon/fast enough, in case e.g. motion/event/etc. is detected. So, I'm looking into faster (to react) alternatives, assuming some NAS/Cloud/Dropbox, etc is available. A few options worth considering, in my opinion, are:
- cloud/dropbox/etc. upload; we have dropbox_u

[2020-12-13 16:53] guino commented on #2
@jandy123 my copy script runs every 60 seconds, so it is pretty fast and often gets files half-way (and updates them later), but it's not the same as recording straight to a network share like my other cameras do. I am unsure you'll get to load any modules into the existing kernel without their version of kernel sources but if you get it working I am definitely interested as I could move the video

[2020-12-13 16:57] m11tch commented on #2
@jandy123 wouldn't it be easier to leave the recording part to a NVR by using the RTSP stream, like Synology Surveilance Station, or some of the free/opensource alternatives that are out there? there are also some options that run in docker.

I assume there is some sort of storage device in your network capable of running a docker container or something ofcourse :)

[2020-12-13 17:01] guino commented on #2
@m11tch that is an option if you have the hardware to record 24/7 and/or process the video feeds and do motion detection, which is not my case. I only have an old 3TB hard drive connected to a $60 router running asus merlin which provides NFS/CIFS/FTP and I have the cameras do the video processing/recording of motion events only. I am definitely not planning to leave a machine running 24/7 to capt

[2020-12-13 17:05] jandy123 commented on #2
@guino

Kernel sources are generic, what we miss is the config file. However, the config should be in the sdk, according to the info I found. It's a pity though, that /proc doesn't contain the kernel config...

====

@m11tch I do not have such hw...I'm in the same boat as @guino ...

[2020-12-13 17:46] lesleyvanrijn commented on #4
Made some progress, so time for an update!

Following @jandy123's instructions i've patched 2.9.7 and i'm thrilled to announce that ONVIF is working out of the box. Here's what i did:

1: Patch my original PPSAPP (obtained trough the initrun.sh script) and made it offline available (first time in using Ghidra, it was fun!)
2: Skip additional RTSP modification (since ONVIF is started by default, it

[2020-12-13 17:53] lesleyvanrijn commented on #2
@guino I've patched 2.9.7 and made applied the offcloud modifications. No further actions needed on the PPSAPP file (no rtsp changed needed compared to original ppsapp, and no force overwrite for the onvif_enable property when using in offline mode). See [Off-Cloud Research](https://github.com/guino/BazzDoorbell/issues/4#issuecomment-744043022)

Instant connection when using a ip cam viewer and +-

[2020-12-13 17:56] m11tch commented on #4
@lesleyvanrijn
Go to https://www.marcrobledo.com/RomPatcher.js/
Select creator mode, upload both original and patched ppsapp, this should give you the ips patch file.

Do you see anything about the audio back channel in ONVIF?

[2020-12-13 17:58] guino commented on #4
@lesleyvanrijn to make ips just go to https://www.marcrobledo.com/RomPatcher.js/ and select creator mode, then select original ppsapp and patched ppsapp and it will create it for you. The same page is where you go to use the patch later too. Feel free to post the patch on the ppsapp-rtsp repository.

[2020-12-13 18:33] lesleyvanrijn commented on #4
Patch available for LSC doorbell with 2.9.7 at [guino/ppsapp-rtsp#1](https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-744048808)

Not looked into the audio back channel yet.

[2020-12-13 18:33] guino commented on #2
@lesleyvanrijn I assume you didn’t try that added change to force onvif enable (ignoring json setting) I posted some posts back.

[2020-12-13 18:36] lesleyvanrijn commented on #2
Not yet, first i wanted to see if changing the tuya_config.json file works. Will add change to the patchfile later. Made some changes to the init script, it copies the config file to mmc for the user to edit, and overwrites it in home/cfg. Will create a PR for you to review.

[2020-12-13 19:07] jilleb commented on #2
Great work @lesleyvanrijn

I think it's nicer to have a feature enabled by config than hard-coded in the binary. I'll update my unit tomorrow and supply it with your patched ppsapp. I guess that means I have to take it off the wall again 😂

[2020-12-13 19:11] lesleyvanrijn commented on #2
@jilleb Yep, but then it'll only work with without any internet connection. I don't know if every one likes the off-cloud variant since they'll lose the Tuya Cloud app (view recorded footage). Hard-code it to enable, it is no big issue if the tuya_config.json gets overwritten by the Tuya Cloud.

[2020-12-13 19:36] jilleb commented on #2
Good point 😁

[2020-12-13 21:55] lesleyvanrijn commented on #4
@m11tch Do you need to configure NTPD before it will start recording video's? Perhaps i've missed something that wasn't described in @jandy123's manual to patch ppsapp, but it is not recording anymore. Or is my tuya_config.json configured incorrectly?

[code]

[2020-12-13 22:01] m11tch commented on #4
@lesleyvanrijn uhm, I actually have recording disabled at the moment.. but I believe that still worked last time I tried..
Does recording work if you allow connection to internet? if that is the case further modification of ppsapp might be needed :(

[2020-12-13 22:08] lesleyvanrijn commented on #2
@jilleb When starting a telnet session, you'll be able to start a FTP server with no login required with the busybox instance on your mmc:
`./mnt/mmc01/busybox  tcpsvd -vE 0.0.0.0 21 ./mnt/mmc01/busybox ftpd -A  /.`
You should be able to kill the ppsapp process, transfer your new ppsapp file trough ftp, and reboot the device. No need to remove the device off the wall, i think.

[2020-12-13 22:20] m11tch commented on #2
I'm not sure if this is a safe method to upgrade to a different ppsapp version, it might be better to update via the official route.. unless you have a programmer to flash back the firmware if you do brick it.

@guino what's your thought on running a newer ppsapp  (on the device it is intended for)

[2020-12-13 22:30] lesleyvanrijn commented on #2
@m11tch I'm sorry, you are right. Upgrading (2.9.6 > 2.9.7) should be done trough the official Tuya / Smarthome / LSC app. IF the root still exist, and you are still able to access the device trough telnet, then you'd be able to setup a ftp server to push a patched ppsapp based on the newer firmware.

[2020-12-13 22:52] jandy123 commented on #2
@guino Don't bother with the sdk. It won't help much. I've "compiled" this kernel: https://github.com/RichStrong/Hi3536DV100R001C01SPC020_linux-4.9.37

The required modules can be built, but they generate errors when loaded since the device kernel has been built without CONFIG_FILE_LOCKING, which basically means that that's no way to get nfsd or fuse working...

[2020-12-13 23:08] jandy123 commented on #4
@lesleyvanrijn

Yep, use something like
`/mnt/mmc01/busybox ntpd -d -q -n -p 192.53.103.108 #ptbtime1.ptb.de
`
before starting ppsapp.

[2020-12-14 02:58] guino commented on #2
@m11tch I have tried running 2.9.7 ppsapp on a 2.9.6 firmware and it **bricked** the device and I had to restore it with a programmer -- I highly discourage anyone to attempt it unless they have a programmer, backup and are willing to go thru the trouble of restoring it later.

[2020-12-14 07:30] BytheWWW commented on #4
@guino @lesleyvanrijn Goodmorning guys! I have been away this weekend so I didn't really keep up, but I read that firmware 2.9.7 has onvif on board. I went back to stock and tried the method @leslie [commented](https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-744048808 ), but I don't get the tuya config file. Do I don't need a patched PPSAPP right? Or do I use the one in the comment?

[2020-12-14 08:31] lesleyvanrijn commented on #4
@jandy123 Yeah that might be a problem since i cant block specific urls in my router. Just block all internet access so reaching an internal is not possible. On the other hand, updating the hosts file and point the tuyaeu.com to 127.0.0.1 might work..

[2020-12-14 08:37] lesleyvanrijn commented on #4
@ByTheWWW You could type resetting the stock PPSAPP, start telnet and vi /home/cfg/tuya_config.json to update the onvif_enable to 1. Don't open the tuya app since the stock PPSAPP might update the tuya_config.json. I'll look into the shell script, i've might missed something in copying the config file to mmc.

[2020-12-14 10:04] BytheWWW commented on #4
I would love to do that, but my knowledge in telnet sessions is pretty poor so I'm not sure how to vi the file

[2020-12-14 10:28] jilleb opened #7 "Customizing doorbell sounds"
Not a bug or issue, but I didn't want to keep anyone from this info, would be cool to add it to a wiki with additional doorbell tweaks or something like that.

It's fairly simple to change your doorbell sounds.
I added the following line to custom.sh, just before telnetd is started and ppsapp is restarted.

```cp /mnt/mmc01/smb_pause.wav /home/sound/dingdong.wav```

This will copy the file smb_pau

[2020-12-14 10:29] lesleyvanrijn commented on #2
@BytheWWW If you're using 2.9.7 with via onvif, the credentials for the rstp stream is admin:admin instead of admin:056565099

[2020-12-14 10:32] lesleyvanrijn commented on #7
Nice, was looking into this yesterday. Especially to mute the boot sound (had a few reboots two days ago in the middle of the night, and i could hear the boot sound two floors up. But testing the sounds only warning.wav and dingdong.wav would work on my Macbook.

[2020-12-14 11:18] BytheWWW commented on #2
@lesleyvanrijn I'm still struggling to edit the tuya config file (if needed that is)
If I would go back to stock, should I be able to get an onvif connection?

[2020-12-14 12:39] Ierlandfan commented on #2
Can someone check my env file? I am a little confused about the "bootargs=" part.
It's a Bullet 4S camera. 2.9.6 FW.  Same as someone mentioned earlier so should work.
The debug line is commented so shouldn't be a problem.
[ppsapp.zip](https://github.com/guino/BazzDoorbell/files/5688781/ppsapp.zip)

[2020-12-14 12:52] jilleb commented on #7
Brilliant!

[2020-12-14 14:16] jilleb commented on #2
Yeah, I tried that.. so far without any luck. I'm going to try the following:
- remove custom 2.9.6 ppsapp from the unit
- reboot
- unblock internet access
- update through tuya
- hope that the root method is still working
- report back.

Fingers crossed!

[2020-12-14 14:18] jaspercardol commented on #2
Hey @jilleb,

To give you some peace of mind, I rooted my device at 2.9.6 and then updated the device to 2.9.7 without any issues in the tuya app.

[2020-12-14 14:34] jaspercardol commented on #2
From what I can see the file looks fine. Are you having trouble with it or is it purely to have someone verify it before use?

[2020-12-14 14:37] jaspercardol commented on #2
Does anyone else have the problem that the RTSP server is running but you're not getting any picture on ip:8554? I can grab the mjpeg and snapshot through the .cgi's but none of my RTSP viewers (VLC, Home Assistant, FFmpeg) are able to open the RTSP stream. There's no authentication needed, right?

[2020-12-14 17:27] guino commented on #4
@BytheWWW if you have a chance please try this
[ppsapp-onvif.zip](https://github.com/guino/BazzDoorbell/files/5690465/ppsapp-onvif.zip) patch on your **original** ppsapp (use https://www.marcrobledo.com/RomPatcher.js/ to patch your original ppsapp). This only has changes to enable the onvif support on your 2.9.7 ppsapp with no other changes. You should try onvif manager and also use admin:admin (o

[2020-12-14 17:27] LouDnl commented on #2
I have the hisilicon sdk for the hi3518ev300 which includes pre compiled and non compiled uboot if you want them. And includes the linux etc

[2020-12-14 17:29] LouDnl commented on #2
@guino @jandy123 let me find the config file

[2020-12-14 17:31] lesleyvanrijn commented on #4
@guino Is that the hardcoded onvif patch?

[2020-12-14 17:34] guino commented on #4
@lesleyvanrijn yes, I got the original ppsapp and only patched it so it always thinks onvif_enable=1 (without needing to telnet and/or modify the json file).

[2020-12-14 17:35] lesleyvanrijn commented on #4
Cool, so just the two edits you made? The function and memory patch?

[2020-12-14 17:38] guino commented on #2
@jaspercardol the only time I have seen something like this in VLC was when I had the demux setting manually set to H264 demuxed instead of "automatic". Check that and also try to use the 'tcp' option as described in the first post. If anything check that you can still stream on the app and/or reboot the device to be sure. I don't think I have seen anyone get mjpeg/snap.cgi working and not get RTS

[2020-12-14 17:39] guino commented on #4
@lesleyvanrijn correct, only the 2 changes to force onvif_enable=1, nothing else changed (so it needs to be online).

[2020-12-14 18:31] jandy123 commented on #2
@LouDnl  Thanks, but I think it won't help much, unless one can build a new kernel...

[2020-12-14 18:33] LouDnl commented on #2
Isnt that what you can do with the sdk?

[2020-12-14 18:38] jandy123 commented on #2
@LouDnl

Nope, I only intended to build some kernel modules for enabling nfs/cifs clients, which I did, but unfortunately I found out that certain, required functionality is not available in the tuya-provided kernel. Building and booting a new kernel from scratch is much more demanding ;).

Making a bootable

[2020-12-14 18:39] LouDnl commented on #2
Well the sdk has a prebuilt one iirc, but its a lot of files to go through 🤣

[2020-12-14 19:33] BytheWWW commented on #4
@guino I must be doing something wrogn (see what I did there :) Anyway, these are the exact steps I took:

1) Copied env, initrun, ppsmmc to the SD card - Hack says 'done'
2) Changed initrun to create PPS file
3) Patched PPS with onvif supplied
4) Added new PPS (without txt) and custom.sh file
5) Added lines in initrun (to get tuya config file which i don't think I need)
6) .... Nothing works, no

[2020-12-14 19:43] guino commented on #4
@BytheWWW can you zip up these files from your mmc card and post it:
-initrun.sh
-custom.sh
-ppsapp after patching (please note the original ppsapp is created in /home/app in the SD card while the patched ppsapp should be placed in the root of the SD card together with initrun.sh and custom.sh)
I should be able to verify things from that.

[2020-12-14 19:45] BytheWWW commented on #4
@guino Here you go:
[Archive.zip](https://github.com/guino/BazzDoorbell/files/5691237/Archive.zip)

[2020-12-14 19:53] guino commented on #2
@jandy123  this is the SDK I got
http://hasecurity.com/DOCs/IPCs/SDK_Linux_20170706.zip
http://hasecurity.com/docs/sdks/hisilicon/Hi3516EV200R001C01SPC010.part1.rar
http://hasecurity.com/docs/sdks/hisilicon/Hi3516EV200R001C01SPC010.part2.rar
http://hasecurity.com/docs/sdks/hisilicon/Hi3516EV200R001C01SPC010.part3.rar
http://hasecurity.com/docs/sdks/hisilicon/Hi3516EV200R001C01SPC010.part4.rar

@Lo

[2020-12-14 20:16] guino commented on #4
@BytheWWW  your files seem fine -- if you're getting 'done' on step 7 of the hack it means your hack is in place -- I assume you also got ppsapp from home/app and to apply the patch as well (another confirmation the hack is in place). Now you said you don't get a copy of the tuya_config_original.json in your SD card ? if not, that would suggest you don't have the file in your device, so try this U

[2020-12-14 20:19] BytheWWW commented on #4
@guino I'll try this in about 2 hours

[2020-12-14 22:00] LouDnl commented on #2
@Guino Yes mine is different, I downloaded it from China.
Hi3516EV200R002C05SPC010
and
arm-himix100-linux

[2020-12-14 22:56] BytheWWW commented on #4
@guino Finally got something

{
	"version":	1,
	"sleep_mode":	0,
	"alarm_fun_onoff":	0,
	"alarm_fun_sensitivity":	1,
	"alarm_fun_mode_switch":	0,
	"alarm_fun_time_start":	0,
	"alarm_fun_time_end":	0,
	"flip_onoff":	0,
	"light_onoff":	1,
	"night_mode":	0,
	"sound_detect_onoff":	0,
	"sound_detect_sensitivity":	0,
	"watermark_onoff":	0,
	"event_record_time":	60,
	"enable_event_record":	2,
	"record_en

[2020-12-15 00:26] guino commented on #4
@BytheWWW so you’re able to stream now or only got the json file to work?

[2020-12-15 07:01] BytheWWW commented on #4
@guino I only get the file to work 🤔 Tried to download it, change it and put it in the root of the SD, but since it doesn't create a json or also doesn't copy the new file to /home/cgf/

[2020-12-15 07:29] LouDnl commented on #2
@guino which is ofcourse also for the Hi3518EV300 and includes tools, schematics, pinouts etc. Let me know if you want it.

[2020-12-15 07:42] jandy123 commented on #2
@guino

Thanks for making the sdk available. I will have a look, although, without replacing the kernel, I believe this won't work, see my post above. I could go into details, if needed.

I should also mention that I'm quite happy with your `doorcopy.sh` method :).

[2020-12-15 08:41] BytheWWW commented on #4
@guino Finally some progress! I went back to stock and looked at the json file right after, and tadaa... onvif was enabled!
So I did a rtsp check in VLC and I got a stream. So now it just a matter of getting it to work in home assistant

[2020-12-15 08:58] lesleyvanrijn commented on #4
@BytheWWW Great that it's working for you. You should use the official Onvif Integration of Home Assistant and in the options popup of the integration you should set the connection type to TCP.

I'll take a look at the logs why the copy script isn't working for you. Since i've created a separate NVR recorder (Shinobi) with a Pi Zero W, i don't longer need the 64gb MMC in the doorbell anymore. I'll

[2020-12-15 09:19] BytheWWW commented on #4
@lesleyvanrijn Yeah, finally. Was beginning to think it was me 😁 When I choose the official onvif integration I can't choose TCP or anything else, just the IP and port

![Screenshot_20201215-101900_Home Assistant.jpg](https://user-images.githubusercontent.com/7500149/102195505-f7617600-3ebe-11eb-9b41-f0b5441172d2.jpg)

[2020-12-15 09:28] lesleyvanrijn commented on #4
@BytheWWW After you've added the ONVIF camera, you should see an extra options button. See screenshot from desktop. Perhaps create a new issue for consuming ONVIF / RTSP in different apps, so we keep this issue off-cloud support only
![ONVIF Settings](https://user-images.githubusercontent.com/5985293/102196520-4eb41600-3ec0-11eb-81dc-594c4dd77d36.png)
?

[2020-12-15 09:33] BytheWWW opened #8 "Integrating Onvif (ie Home Assistant)"

[2020-12-15 09:37] BytheWWW commented on #8
@lesleyvanrijn Did your home assistant find the doorbell automatically?

[2020-12-15 09:49] lesleyvanrijn commented on #8
@BytheWWW Yep, with this settings:

Name: Whatever you fancy
Host: IP of the device
Port: 8000
User: admin
Passw: admin

After that it will add the camera to your home assistant instance. After that you'll have to update the connection type to TCP.

[2020-12-15 09:59] BytheWWW commented on #8
@lesleyvanrijn Was trying to connect through port 8554 🤪

It's visible in HA now. Now the main reason for me to integrate it into HA was to be able to hear a chime through Google home when someone was ringing the doorbell

[2020-12-15 10:25] jilleb commented on #4
@lesleyvanrijn , your onvif patch is working. I've been using it since last night. So far, no issues. It works great. I see some things where the original devs could improve on when it comes to onvif-support, but I'm not complaning, because it's working!

[2020-12-15 10:28] jilleb commented on #2
Last night I updated my doorbell to 2.9.7, by using the following procedure. I can confirm, exactly like @jaspercardol said, the hack is still there after updating, all is working like you would expect :-)

After this, I replaced the ppsapp by @lesleyvanrijn's patched binary. I can now use onvif on port 8000, and it will publish the 2 RTSP streams (HD and SD) like it's supposed to do. Audio Backch

[2020-12-15 10:28] jandy123 commented on #4
@jilleb, @lesleyvanrijn  What are the advantages of the ONVIF interface, compared to the off-line RTSP-enabled mode ?

@jilleb How did you make the fw update ? Did you undo the kernel cmnd line trick and started all over again, or the hack survived the fw upgrade ?

[2020-12-15 10:29] lesleyvanrijn commented on #8
@BytheWWW That is possible!

1: Add the  [MQTT middleware](https://github.com/guino/BazzDoorbell/issues/4#issuecomment-740644879) to the doorbell (at the end of that reply is a zip and instructions for adding the middleware).
2: Create a MQTT server in Home Assistant, follow steps 1-6 of [this tutorial](https://medium.com/@fedorets.alex/hass-io-zigbee2mqtt-io-the-simplest-way-b7375c9fba22)
3: Upda

[2020-12-15 10:30] lesleyvanrijn commented on #4
@jandy123 ONVIF is default integration, RTSP is custom patch work. ONVIF is providing a high res and low res stream.

[2020-12-15 10:31] jilleb commented on #4
User friendlyness in configuring. I added the Onvif URL to Surveillance Station, and it will offer me a selection of the 2 streams.

The hack survived the update. I didn't do the kernel cmd line trick again. I replaced my ppsapp back with the original, updated it, put Lesley's binary and celebrated ;-)

[2020-12-15 10:33] jandy123 commented on #4
@lesleyvanrijn, @jilleb  Thanks for the info !

Do we still need the off-line mod ?

[2020-12-15 10:38] jilleb commented on #4
Yes :-)

Guino also supplied a patch for 2.9.7 where enable_onvif is hardcoded 1, but I can't find it currently in this topic 😵

[2020-12-15 10:40] BytheWWW commented on #8
@lesleyvanrijn Awesome! Will have a look later, but thanks for the tip

[2020-12-15 10:45] m11tch commented on #4
No audio back channel though? 😢

[2020-12-15 10:47] jilleb commented on #4
According to Onvif Device Manager, no.
I dove into ppsapp with Ghidra, searching for string regarding onvif. I investigated the XMLs that are sent in response to the onvif SOAP request and it never hands out a stream for audio back channel. But... that doesn't mean it's not there! I have to look into this stuff a bit more, onvif information and test tooling is scarse!

[2020-12-15 10:52] lesleyvanrijn commented on #4
@m11tch there are 2 patch files, one for 2.9.7 offline and one for 2.9.7 force onvif. I’ll create a new with both mods in 1 ips patch file.

[2020-12-15 14:28] BytheWWW commented on #8
@lesleyvanrijn Where can I find the entity and media player ID?

[2020-12-15 15:20] guino commented on #2
@LouDnl I am definitely interested in getting a copy if you can make it available - or I can setup something for you to upload directly but I would need to whitelist your IP (so you can send me an email directly for that), thanks in advance!

[2020-12-15 15:21] LouDnl commented on #2
Lets do the latter. I will email you

[2020-12-15 20:25] guino commented on #8
@BytheWWW glad your efforts to get the camera feeds were not a waste!

[2020-12-15 20:26] TopdRob commented on #2
@lesleyvanrijn Did you find already a solution to use onvif without blocking the tuya cloud?

[2020-12-15 20:26] BytheWWW commented on #8
@guino Thanks to both you and @lesleyvanrijn 👍🏻

[2020-12-15 20:41] guino commented on #2
@TopdRob you can try this patch assuming you have this firmware: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740937085

I don’t believe any other firmware version I have seen has onvif support.

[2020-12-15 21:19] TopdRob commented on #2
Thanks, I appreciate all the support from you all.
The only thing I do not understand is how to handle the IPS file, do I place that in the root or do I have to do something with my ppsapp file?

[2020-12-15 21:56] jilleb commented on #2
Go to
https://www.marcrobledo.com/RomPatcher.js/
Place your original ppsapp
Place then ips file as a patch
And it will generate a patched ppsapp for you.

[2020-12-15 22:55] RGlintmeijer commented on #2
Just to let you know:

Last night i enabled (busybox) telnet on the doorbell, edited the /home/cfg/tuya_config.json to set "onvif_enable" to 1, rebooted the camera and the streams are working on rtsp://admin:admin@IPADDRESS:8554/Streaming/Channels/101 and /102. And the doorbell is still connected to the Tuya Cloud (using the LSC App).

Running the original firmware on the Doorbell of Action NL:
[c

[2020-12-16 00:05] guino commented on #2
@RGlintmeijer thanks for testing and reporting back! That's the way to go (the least required changes the better).

[2020-12-16 07:33] LouDnl commented on #2
@guino cant find your email address

[2020-12-16 08:21] dvanderham commented on #2
I can confirm, I have the other doorbell with 2.9.7 working RTSP in HomeAssistant with the orginal firmware thanks to @RGlintmeijer with helping the steps to deploy!

The only thing to pay attention to is that you will be disabled in the memory card settings recording mode, otherwise your SD card will be overwritten :)

[2020-12-16 09:24] lesleyvanrijn commented on #2
@RGlintmeijer Thanks for your update! Patching the ppsapp is only required if you a: don't want to use the Tuya Cloud (offcloud) or b: Want to use the Tuya Cloud but don't want to set onvif_enable:1 every time you change something.

Can you test one thing for me? Since it is still connected to the cloud, could you open the Tuya App, and toggle one setting (eg. toggle timestamp display on/of) and c

[2020-12-16 09:58] BytheWWW commented on #2
@lesleyvanrijn Can you explain the steps to edit the json through telnet? (total noob with some knowledge of computers :)

[2020-12-16 10:16] dvanderham commented on #2
@lesleyvanrijn you can telnet to your doorbell device ip on port 22, and there you can use vi /home/cfg/tuya_config.json
change "onvif_enable": 0, to  "onvif_enable": 1,
save file and reboot your device

[2020-12-16 10:38] BytheWWW commented on #2
@dvanderham Thanks for the fast reply and your explanation, but I can't seem to connect (Connection refused) Did a port forward on port 23 for the doorbell in my router so I should be able to connect, right?

[2020-12-16 10:46] dvanderham commented on #2
Can you connect internal to your doorbell ip? Its not recommended to set a port forward directly to your doorbell from outside your network ;-)

[2020-12-16 10:46] BytheWWW commented on #2
Yes, I can connect internal

[2020-12-16 10:48] lesleyvanrijn commented on #2
You don't need a port forward if your laptop and device is on the same network. Is a user/password prompted? If so, you can use an anonymous session if you update your custom.sh script

Find the busybox telnetd command and change it to:
`/mnt/mmc01/busybox telnetd -l /bin/sh`

[2020-12-16 11:05] BytheWWW commented on #2
Nope...  custom.sh is loaded (echoes 'custom' at /tmp/customrun) but telnet won't connect

[2020-12-16 12:00] guino commented on #2
@BytheWWW check your busybox file size, it should be over 1Mb (you may need to go on github and download it separately in the BazzDoorBell project).

@lesleyvanrijn This being an embedded device ideally everything should be locked/frozen except for settings which is where the tuya_config.json is stored. You don’t want to constantly write to the flash as you’d wear it down and cause it to fail, so

[2020-12-16 12:05] LouDnl commented on #2
@guino mail sent

[2020-12-16 14:26] BytheWWW commented on #2
@guino My busybox file is just 132 bytes. Just to be sure; this should be on the SD card:

![Screenshot 2020-12-16 at 15 24 59](https://user-images.githubusercontent.com/7500149/102360913-e8f48680-3fb2-11eb-893b-f2164d762bfd.png)

[2020-12-16 14:55] guino commented on #2
@BytheWWW download busybox from this link: https://github.com/guino/BazzDoorbell/blob/master/mmc/busybox?raw=true

[2020-12-16 14:58] BytheWWW commented on #2
@guino That was it 🤪 Thanks!

[2020-12-16 22:35] BytheWWW commented on #8
@lesleyvanrijn Stil having trouble getting the mqtt to work. Is there any way to see if the mosquitto_pub is being loaded?

[2020-12-16 23:24] RGlintmeijer commented on #2
@lesleyvanrijn I've checked that, and the onvif_enable setting (currently) keeps 1. For example i've modified the volume of the doorbell through the app, saw that value changing in the tuya_config.json and the value onvif_enable was left untouched.

[2020-12-17 00:22] guino commented on #2
( Original Author @TopdRob )
Could someone please post the correct env file for the Action LSC doorbell? I'm not sure if I have the correct one with the 37M in it.

I can't get it to work, with and without pspapp, no telnet, no rtsp, no onvif

[code]

![image](https://user-images.githubusercontent.com/9911541/102421135-000f9480-4004-11eb-8129-093b01fdb201.png)

![image](https://user-images.githubu

[2020-12-17 00:23] TopdRob commented on #2
Could someone please post the correct env file for the Action LSC doorbell? I'm not sure if I have the correct one with the 37M in it.

I can't get it to work, with and without pspapp, no telnet, no rtsp, no onvif

[code]

![image](https://user-images.githubusercontent.com/9911541/102421135-000f9480-4004-11eb-8129-093b01fdb201.png)

![image](https://user-images.githubusercontent.com/9911541/102421

[2020-12-17 00:24] guino commented on #2
@TopdRob it seems your /proc/cmdline is getting updated (good) but it may need an extra 1-2 characters in the "ThankYou" part to cut off the 'ppsAppParts=' in the end and cause the hack to actually work. Try that and if it doesn't work, please provide an updated http://192.168.2.183/proc/self/root/proc/cmdline (after the change) and also provide this http://192.168.2.183/proc/self/root/proc/cmdlin

[2020-12-17 07:56] TopdRob commented on #2
@guino Sorry for posting in the wrong issue.

I've tried with the double "TT" in front and I got:
`mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys),4352k(app),320k(cfg) ppsAppParts=0 ppsWatchInitEnd TTThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,ThankYouGuino,

[2020-12-17 08:02] jaspercardol commented on #2
Hi @TopdRob,

I can send you my env file that I used for the Action Doorbell. I unfortunately can't seem to attach it here, so maybe you could share some way I can contact you and send you the file (email, or some other way)

[2020-12-17 08:07] TopdRob commented on #2
Hi @jaspercardol  Thanks for helping, could you drag and drop the file in the comment box? Otherwise I created a temp mailadress to send it pokop26803@95ta.com

Thanks!

[2020-12-17 08:12] jaspercardol commented on #2
Hi @TopdRob,

Thanks! I didn't notice the dragging option there. Had to zip it up as it's a not supported filetype otherwise. File should be 927 bytes. Good luck!
[env.zip](https://github.com/guino/BazzDoorbell/files/5707848/env.zip)

[2020-12-17 09:25] BytheWWW commented on #7
Mwoaaaa Geertje

[2020-12-17 11:13] lesleyvanrijn commented on #6
Just bought a Nedis Chime, but since it is on max volume and a horrible melody (it works though), i'll return that one.
Then I realised that i bought some microcontroller components a few years ago that could be helpful. So i went ahead and looked for the box with components and started playing around yesterday.

Grabbed an [ESP-01S Relay with a compatible ESP8266 Microcontroller](https://nl.aliex

[2020-12-17 12:28] TopdRob commented on #2
@JasperMC I'm lost I have tried your env as well, but it does not work.
The hack is working, everything from initrun.sh is working as well however it seems that the custom.sh is not working.

initrun.sh
[code]

custom.sh
[code]

![image](https://user-images.githubusercontent.com/9911541/102487802-6e3b7200-406b-11eb-96f7-3328d3e3a5cf.png)

[2020-12-17 12:46] JasperMC commented on #2
@TopdRob try downloading busybox from here. I had the same problem: https://github.com/guino/BazzDoorbell/issues/2#issuecomment-746422241

[2020-12-17 15:36] JasperMC commented on #7
Awesome idea. Does anyone know how to get a sound file to play on the bell anyway? I can't seem to find any kind of audio device to output to. Was hoping to do some funny things with the Portal Turret sounds (e.g. "Hello friend" on motion detection and "Hey, are you still there? after motion detection ends. If you ring the bell and no one's home, I'd like it to say "Sorry, we're closed"

[2020-12-17 15:47] JasperMC opened #9 "Controlling the LED"
After liberating my bell I am now curious if there's a way we can change the color of the LED and its brightness. This could be fun to customize, or even react to the sound you're playing.

I'm hoping someone can help me research how to do so.

A first hint might be the "pwm" device in /dev. Perhaps the LED is controlled through PWM.

[2020-12-17 15:58] guino commented on #2
@TopdRob can you make a zip file of your custom.sh and initrun.sh and post it for review? Maybe there is some Windows formatting somewhere that’s causing an issue. Obviously your initrun.sh is working up to some point. Can you post the results of http://admin:056565099@192.168.x.x/proc/self/root/tmp/customrun ? Just to be clear any changes to initrun.sh and custom.sh are only going to execute once

[2020-12-17 16:00] JasperMC opened #10 "Playing audio through the bell speaker"
Hello everyone,

I thought it would be interesting to start a topic on how to get audio to play through the bell's speaker. The reason for this is that it could perhaps help us with somehow recreating the talkback feature among other audio related experiments.

Adding some links for inspiration here:
- https://github.com/topics/hi3516ev200 (the SoC in the camera)
- https://github.com/hi35xx/live-s

[2020-12-17 16:05] guino commented on #9
The little I have seen on this suggests the LEDs are gpio controlled (no level/intensity control) and there is a blue and a red one (no RGB). There’s a command you can run to toggle them but ppsapp seems to set them right back to what they are supposed to be (blue/red). I do not yet know if there’s anything hardware side that would prevent both LEDs from being on at the same time.
Basically for in

[2020-12-17 16:08] JasperMC commented on #9
Thanks Guino!

Could you share what command you used to change the LED color? I'm mostly just interested in somehow making it sync with audio if I can. Would be a cool feature.

[2020-12-17 16:14] guino commented on #9
[code]
But like I said: when you use this the ppsapp usually restores the led color right back.

[2020-12-17 16:19] guino commented on #10
The main thing here is that I think the ppsapp opens the audio device and keeps it open so I don’t know if an outside application would be able to open it again (in parallel).

The quickest rig I can think of is to rename/link an existing audio file and cause something in the ppsapp to trigger/inject a call to play the file. Otherwise you would have to patch ppsapp to stop using the audio device w

[2020-12-17 16:29] TopdRob commented on #2
@guino Thanks, please find attached my initrun.sh and custom.sh. I reboot the camera everytime when I change the SD card.

[initrun.sh and custom.sh.zip](https://github.com/guino/BazzDoorbell/files/5710782/initrun.sh.and.custom.sh.zip)
http://admin:056565099@192.168.x.x/proc/self/root/tmp/customrun gives HTTP error 500

[2020-12-17 16:44] guino commented on #2
@TopdRob the issue is in your initrun.sh, there's a missing ; on the line below **sleep 10**:
[code]
should be:
[code]
This is likely causing initrun.sh to 'crash' (exit) and not running anything in custom.sh

[2020-12-17 17:17] lesleyvanrijn commented on #2
@guino whoops, my fault! Those lines comes from my patch instructions. I’ll update my comment in the ppsapp-patch issue.

[2020-12-17 18:24] TopdRob commented on #2
@guino Thanks it works now!

[2020-12-17 19:50] BytheWWW commented on #4
@lesleyvanrijn Can you point me to the 2.9.7 offline patch? Can't seem to find it

[2020-12-17 20:09] m11tch commented on #4
Should be this: https://github.com/guino/BazzDoorbell/issues/2#issuecomment-745618597

[2020-12-17 21:43] BytheWWW commented on #4
Just patched ppsapp with the offline patch, but what does that mean exactly? I was under the assumption I could remove it from the tuya app and it would still work

[2020-12-17 21:53] lesleyvanrijn commented on #4
@BytheWWW You could block internet access to the device, so it is no longer a major thread for your internet security. I found that the Tuya App is still able to connect when your device and doorbell are on the same network. Accessing it from 4g for example won't longer work. Removing it from the Tuya App would result in a reset of the device. But you could delete the Tuya App from your phone.

[2020-12-17 23:13] BytheWWW commented on #8
Finally got it working! I needed to put my home assistant username and password in the log_parser.sh, otherwise it wouldn't work. Just need to stream the video to my phone now.

[2020-12-18 11:18] ijssgerb commented on #2
Hi!

Can you please verify my  ppsapp. It's for an Action doorbell.
[ppsapp.zip](https://github.com/guino/BazzDoorbell/files/5715311/ppsapp.zip)

Many thanks!

[2020-12-18 11:47] guino commented on #2
@ijssgerb can you provide the information from: http://admin:056565099@ip/devices/deviceinfo
I assume you have already looked at https://github.com/guino/ppsapp-rtsp/issues/1 — If it’s not patched yet I can probably patch it later today.

[2020-12-18 11:51] ijssgerb commented on #2
devname | "Smart Home Camera"
-- | --
model | "Bell 8S"
serialno | "061061614"
softwareversion | "2.9.7"
hardwareversion | "BE8S_H1_V10_433"
firmwareversion | "ppstrong-c51-tuya2_lcs-2.9.7.20201020"
authkey | "08wRj7kAk51M6MoDSDLPx8rgdhoqYf0J"
deviceid | "pp01b6ac6ab6c1847272"
identity | "MR2005212800905961"
pid | "aaa"
WiFi MAC | "d4:d2:d6:db:a5:b2"

[2020-12-18 11:55] guino commented on #2
@ijssgerb Your ppsapp has already been patched. You can use either https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740937085 or https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-744048808 (off-cloud/advanced). You don't even need to patch ppsapp to use onvif, just need to edit /home/cfg/tuya_config.json and change the onvif_enable to 1.
For telnet you either have to copy/edit p

[2020-12-18 12:07] ijssgerb commented on #2
I am not a programmer so don't know how the passwd file should look for example;
Login: user
Password: password

Maybe you can help me out with that?

[2020-12-18 12:11] JasperMC commented on #2
Based on https://ma.ttias.be/how-to-generate-a-passwd-password-hash-via-the-command-line-on-linux/ the password hash of 'password' is $1$1BLlFntb$saaKqwjtqYvlijNe9.ugP.

Your passwd file should then look like:
[code]

[2020-12-18 12:32] ijssgerb commented on #2
Thanks!

Everything works including livestream rtsp://admin:admin@ip:8554/Streaming/Channels/101

[2020-12-18 15:17] RaveGun commented on #2
Thank you for all the work.
My camera (Action Door Bell) works also.
I copied the httpd and cgi files too but I guess are not need for the 2.9.7 version. Or?
Shall I stop the httpd service too?

ONVIF works with the Onvif Device Manager from Windows but the HA cannot connect to it. I saw that there are 2 users in the configuration: admin and WeEyE. I guess the later is used by the App.

RTSP strea

[2020-12-18 15:20] JasperMC commented on #2
The cgi's are mostly for if you want to have a snapshot (e.g. for a notifcation when someone rings the bell so you can see who's there), or if you want to download the video's on the SD card through http.

I managed to connect HA to the bell through the Onvif integration. Make sure you specify port 8000 and the credentials admin:admin

[2020-12-18 18:04] RaveGun commented on #2
The ONVIF will not work on my side since the camera is on another IP Pool than HA. Although I can ping the camera from the HA container is still not able to communicate.

I will try to integrate the MQTT as per https://github.com/guino/BazzDoorbell/issues/4#issuecomment-740644879 but currently the camera is not mounted and it will take more months until it will be in possition.

Thanks for the rep

[2020-12-18 19:47] TopdRob commented on #8
Is it possible to use mqtt with the original pspapp or does that only work with a patched?
And how would the custom.sh look if it's possible to use the original pspapp.

The example of @m11tch uses a patched pspapp
[code]

[2020-12-18 19:55] guino commented on #8
@TopdRob I don't use HA/mqtt but I am pretty sure this will work with original ppsapp (no patch) because none of the patches we made messes with the output of ppsapp. I would expect it to work, but it's possible different versions of ppsapp would have different outputs.

In custom.sh you just have to change the line from ```/mnt/mmc01/ppsapp &``` (there's only one line exactly like that almost at

[2020-12-18 20:48] BytheWWW commented on #8
@TopdRob It works with the original ppsapp. I've got it working on my Google home speaker with HA an mqtt. (there is a small lag but that's too be expected)

[2020-12-18 21:18] jilleb commented on #10
I got the device to change from night vision to regular rgb by calling some URL, I'll look if there's any audio trigger.

[2020-12-19 00:39] guino commented on #10
From what I can see in the code we should be able to make ppsapp play any wave file we want with a simple dd (write) command but like jpeg functions this would vary based on firmware version. I'm going to give it a quick try with mine and if it works I would need to know what version of firmware you're running (please full version from /devices/deviceinfo) so I can make you something to try.

[2020-12-19 02:16] guino commented on #10
I was able to make a command to play a wav file on demand, but like I said it requires knowing thr address for the playback request in ppsapp, so that’s firmware specific like the jpeg features. If you tell me which firmware you have I can look it up in ghidra and provide you with a command so you can try/use it yourself.

[2020-12-19 02:26] guino commented on #9
It is possible to patch ppsapp to disable its control of the leds but if you do that you would have to control it yourself for everything (ppsapp would no longer manage it). If you want to try that let me know and I can probably make a patch for it.

[2020-12-19 02:30] guino commented on #5
So digging a little more on this I found that the upgrade file doesn’t seem to be signed but it does have headers/compression etc which would have to work out, but the main problem is that I would likely need a more current firmware (2.9.6/2.97) update file to investigate this further.

[2020-12-19 12:45] JasperMC commented on #9
That would be wonderful actually. Would it be possible to make a combined one also with that audio command you were talking about in the other issue?

If there’s anything I can help with, please let me know as well. I really appreciate it man.

[2020-12-19 13:06] JasperMC commented on #10
I can provide the exact device info later but it’s basically the LSC Smart Connect bell at 2.9.7 firmware (using the ppsapp you posted)

[2020-12-19 16:13] JasperMC commented on #10
Exact device info as promised:

[code]

[2020-12-19 18:31] RaveGun commented on #2
The "snap.cgi" is also not working on my side.
I guess the address does not match with the stock version 2.9.7.
Is the address easily to be found? Although I don't know how this is done anyway.

[2020-12-19 18:51] guino commented on #2
@RaveGun all ppspapp files that have been patched have the snap/mjpeg address published along with the patches in https://github.com/guino/ppsapp-rtsp/issues/1 all you need to do is look up your firmware file in that link, and copy the address into snap.jcgi and mjpeg.cgi (replacing the default value 0x42ac2c)

[2020-12-19 18:58] RaveGun commented on #2
@guino Thank you.
Duh, I got lost in the issues. I was looking the closed one where previously the patched files were posted.
It works perfectly well now.
Thank you again.

[2020-12-19 19:10] guino commented on #10
@JasperMC  This should be done now. Download/save the [play.cgi](https://github.com/guino/BazzDoorbell/blob/master/mmc/cgi-bin/play.cgi) to your SD Card and adjust the request address for your firmware which I published [here](https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740937085).

You can play wav files from telnet/internal script by using:
[code]
OR by URL (assuming you have http

[2020-12-19 19:31] guino commented on #9
This is UNTESTED and only for version ppstrong-c51-tuya2_lcs-2.9.7.20201020 -- try this
[ppsapp-noled.zip](https://github.com/guino/BazzDoorbell/files/5720033/ppsapp-noled.zip) to disable ppsapp from controlling the LED. Again you will have to control the LED by yourself for everything (network status, etc) -- I am taking a guess it will boot up into a 'red' state and stay that way until you manua

[2020-12-19 20:43] JasperMC commented on #10
To quote my env file: "Thank you Guino, Thank you Guino, Thank you Guino" ;)

[2020-12-19 21:12] guino commented on #10
@JasperMC did you already try/confirm it?

[2020-12-19 21:13] JasperMC commented on #10
Trying it right now, with the default sounds and a custom one :)

[2020-12-19 21:23] JasperMC commented on #10
It seems it's still not working unfortunately. I changed the REQ address in the script but can't play the default sounds or custom sounds. I converted my custom sounds to be in the same format as the original, but no luck. I'll give it another try to rule out that it's not my shell scripting haha.

[2020-12-19 21:42] JasperMC commented on #10
It works! It was a quick scripting mistake.